FORMAT: 1A
HOST: https://www.realmassive.com

# RealMassive API — The first API for real-time commercial real estate information

The RealMassive API is a RESTful API that communicates overs the HTTP protocol. Here's what you need to know to get started quickly:
  * **https://www.realmassive.com/api/v1** is the root endpoint.
  * You need an API token to make API calls. Apply for one in our [Developer's Area]().
  * Use simple authorization (email/password) and/or your API token for API call authorization.
  * Consider using something like [Postman](https://chrome.google.com/webstore/detail/postman-rest-client-packa/fhbjgbiflinjbdggehcddcbncdddomop?hl=en) to easily test the live server
  
## Quickstart
| API Call | Meaning |
| -------- | ------- |
| GET /api/v1/spaces/*:id* | Get space identified by uinque ID, *:id* |
| GET /api/v1/buildings/*:id*| Get building identified by uinque ID, *:id* |
| GET /api/v1/markets| Get a list of all markets |
| GET /api/v1/markets/geo?latitude=30&longitude=-97 | Find markets near (30,-97) (central Texas) |
| GET /api/v1/spaces/search?building.address.city=Austin&building.address.state=TX| Find all spaces in Austin, TX |

### Resources
A resource is a network-accessible data object or service accessed by a URI. A collection is a set of resources. Resources are presented as nouns,
nouns that hopefully that make sense to the API consumer. Services—special resources that perform actions on other resources— are exposed as verbs.
Services attached to resources operate specifically on that resource. All resources are returned in JSON, unless other formats are specifically
requested. Relations are used to specialize the results of a resource. For example, /markets/market-id/submarkets would return the Submarkets for
the specific Market identified by its market-id value.

All requests must be properly URL encoded, including parameters and values.

#### URI Space
The following resources are exposed and accessible via resource URIs.

| Resource | URI | Notes |
|---|---|---|
| Building | /building | Represents physical buildings in our database. |
| Market | /market | Represents the markets in which we operate. |
| Organization | /organization | Represents Users' organizations. |
| Portfolio | /portfolio | Represents a collection of spaces. |
| Space | /space | Represents and available Space for lease. |
| User | /user | Represents Users on our system. |


## Group Buildings

**Buildings** represent physical buildings. A building can have one or more spaces
associated with it. Each building has the following attributes and more
fields may be added.

## Building Attributes
 * **ac** - whether or not the building has air conditioning
 * **address** - structured address with the following format. See [Address].
 * **attachments** - a list of media attachments. See [Attachments].
 * **building_class** - a subjective rating of quality specified as 'A', 'B', or 'C' where 'A' is highest quality and 'C' is lowest.
 * **building_parking_ratio** - number of available parking spots, usually per thousand square feet
 * **clear_height** - used in industrial space, the actual height from steel girders to the interior of the building.
 * **cover** - 
 * **created_at** - datetime
 * **created_by** - database key pointing to the original author
 * **edited_at** - datetime
 * **id** - this record's unique identifier
 * **key** - 
 * **leed** - LEED rating: None, Certified, Gold, Silver, Platinum
 * **lot_size** - 
 * **lot_size_units** - units in which lot size is reported. Currently, square feet: 'SF'
 * **manager** - database key pointing to the contact for this building's manager
 * **notification_email** - database key pointing to this building's representative(s)
 * **operating_expenses** - operating expenses for this building.
 * **parking_rate** - Parking rate ($) per space.
 * **promoted_spaces** - List of promoted spaces in this building.
 * **property_owner** - database key pointing to this building's owner
 * **reserved** - 
 * **size** - building size in units listed below
 * **size_units** - units in which the building size is reported
 * **space_keys** - a list of database keys pointing to the spaces inside this building.
 * **sprinkler** - whether or not this building has sprinklers
 * **submarket** - the submarket in which this building resides
 * **title** - building's title
 * **type** - lease, sublease, for sale
 * **year_built**

## Building Collection [/api/v1/buildings{?limit,cursor}]
Use this to retrieve a list of all buildings in the RealMassive Database. 
### Notes
  * This query is not optimized for speed, it is optimized for sifting through the entire Building Collection. For speedy searches use Building Search.
  * Results are batched (default batch size is 70).
  * Rerun the query with the cursor provided in the results to receive the next batch.
  * You may adjust your limit size on the query by passing the optional limit paramter.

### List all Buildings [GET]

+ Parameters

    + limit = `70` (optional, integer) ... Number of results to return in this batch
    + cursor (optional, cursor) ... Provide the cursor to continue to your next batch of results

+ Request

        https://www.realmassive.com/api/v1/buildings?limit=3

+ Response 200 (application/json)

        {
          "cursor": "False:CqAECpQCCvcBgPcO6T1K_7X81YyBjZqek5KejIyWiZrSj42Qm_8AdG2goJmLjKCg_wBdno-PmpGYlpGa_wBzdG2WkZuah_8AXb2KlpOblpGYoJ6ez8fLzJ6d0pzOx8nSy8bKztKdysbO0sucx8vGysrMx83Jnv8Ac3Rtm5CcoJab_wBdnpe1hZmRtZOmqIeLpqexhZ6npZOzp72Gnc2thrmujKy8urXOnqiHlJ6oypG4try-mLKshpbKmLW7vv8Ac3-el7WFmZG1k6aoh4ump7GFnqelk7OnvYadza2Gua6MrLy6tc6eqIeUnqjKkbi2vL6YsqyGlsqYtbu-_wD__hADIQTdBJAdPBsZUABaCwnesRGuij-imhABEg1Eb2N1bWVudEluZGV4GqoBKEFORCAoSVMgImN1c3RvbWVyX25hbWUiICJhcHBlbmdpbmUiKSAoSVMgImdyb3VwX25hbWUiICJzfnJlYWxtYXNzaXZlLXByb2QiKSAoSVMgIm5hbWVzcGFjZSIgIiIpIChJUyAiaW5kZXhfbmFtZSIgIkJ1aWxkaW5nX2FhMDg0M2FiLWMxODYtNDk1MS1iNTkxLTRjODQ5NTUzODI2YSIpIChUUlVFKSk6GQoMKE4gb3JkZXJfaWQpEAEZAAAAAAAA8P9KMAgBOhVzdDpidGlfZ2VuZXJpY19zY29yZXJAkE5KEgsQgKKFBRoJCgdlc2NvcmVyDA",
          "results": [
            {
              "edited_at": "2014-12-18T17:35:52.068600+00:00",
              "ac": "",
              "reserved": "",
              "attachments": [],
              "lot_size_units": "",
              "manager": "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgIDE1rmFCgw",
              "clear_height": "",
              "size_units": "SF",
              "submarket": "",
              "notification_email": "",
              "id": "5708540228403200",
              "market": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEwsSBk1hcmtldBiAgIDQ2YrWCAw",
              "size": "506",
              "sprinkler": "",
              "title": "11650 Iberia Pl.",
              "building_class": "",
              "created_by": {
                "first_name": "RealMassive",
                "last_name": "San Diego",
                "title": "",
                "photo": "/static/img/default_profile.jpg",
                "company": "RealMassive",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA8LGlngoM",
                "is_premium": false,
                "id": ""
              },
              "property_owner": "",
              "leed": "",
              "space_keys": [
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMTwhtUJDA"
              ],
              "type": "Office",
              "operating_expenses": "0.0",
              "parking_rate": "",
              "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMSx_JEKDA",
              "address": {
                "city": "San Diego",
                "state": "CA",
                "street": "11650 Iberia Place",
                "geo": {
                  "latitude": "33.0159612",
                  "longitude": "-117.0774562"
                },
                "zipcode": "92128"
              },
              "location_url": "/us/ca/san-diego/11650-iberia-pl/5708540228403200",
              "promoted_spaces": "",
              "year_built": "",
              "created_at": "2014-12-17T04:26:38.691162+00:00",
              "cover": null,
              "lot_size": "",
              "building_parking_ratio": ""
            },
            {
              "edited_at": "2014-12-18T17:24:18.948340+00:00",
              "ac": "",
              "reserved": "",
              "attachments": [
                {
                  "category": "exterior",
                  "gs_path": "/gs/realmassive-production-images/us-ca-san-diego-old-town-professional-building-6248629144649728-1418790866.jpe",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-ca-san-diego-old-town-professional-building-6248629144649728-1418790866.jpe",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMSF44wLDA",
                  "title": "",
                  "url": "https://lh6.ggpht.com/V9MfJPirI_TJI9VaLnM4Av9g2gnM9FjtWCe52XeTnTXScMLMaUnqxOJR8GOIg5CQ-fqmsPupGRDZduid89yY3ZOzhdw_pmM",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA8LGlngoM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgITplucKDA",
                  "preview_info": null,
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                }
              ],
              "lot_size_units": "",
              "manager": "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgIDE1rmFCgw",
              "clear_height": "",
              "size_units": "SF",
              "submarket": "",
              "notification_email": "",
              "id": "6248629144649728",
              "market": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEwsSBk1hcmtldBiAgIDQ2YrWCAw",
              "size": "2277",
              "sprinkler": "",
              "title": "Old Town Professional Building",
              "building_class": "A",
              "created_by": {
                "first_name": "RealMassive",
                "last_name": "San Diego",
                "title": "",
                "photo": "/static/img/default_profile.jpg",
                "company": "RealMassive",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA8LGlngoM",
                "is_premium": false,
                "id": ""
              },
              "property_owner": "",
              "leed": "",
              "space_keys": [
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMThjNcKDA",
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMSx25ULDA"
              ],
              "type": "Office",
              "operating_expenses": "0.0",
              "parking_rate": "",
              "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMSF44wLDA",
              "address": {
                "city": "San Diego",
                "state": "CA",
                "street": "2356 Moore Street",
                "geo": {
                  "latitude": "32.749156",
                  "longitude": "-117.194165"
                },
                "zipcode": "92110"
              },
              "location_url": "/us/ca/san-diego/old-town-professional-building/6248629144649728",
              "promoted_spaces": "",
              "year_built": "",
              "created_at": "2014-12-17T04:28:44.789921+00:00",
              "cover": {
                "category": "exterior",
                "gs_path": "/gs/realmassive-production-images/us-ca-san-diego-old-town-professional-building-6248629144649728-1418790866.jpe",
                "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-ca-san-diego-old-town-professional-building-6248629144649728-1418790866.jpe",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMSF44wLDA",
                "title": "",
                "url": "https://lh6.ggpht.com/V9MfJPirI_TJI9VaLnM4Av9g2gnM9FjtWCe52XeTnTXScMLMaUnqxOJR8GOIg5CQ-fqmsPupGRDZduid89yY3ZOzhdw_pmM",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA8LGlngoM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgITplucKDA",
                "preview_info": null,
                "youtube_id": "",
                "id": "",
                "is_video": "",
                "approved": true
              },
              "lot_size": "",
              "building_parking_ratio": ""
            },
            {
              "edited_at": "2014-12-18T17:21:38.539680+00:00",
              "ac": "",
              "reserved": "",
              "attachments": [
                {
                  "category": "exterior",
                  "gs_path": "/gs/realmassive-production-images/us-ca-san-diego-8925-carroll-way-5172494218559488-1418923223.png",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-ca-san-diego-8925-carroll-way-5172494218559488-1418923223.png",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMSyi5gJDA",
                  "title": "",
                  "url": "https://lh4.ggpht.com/XwZOFvnhybwZgXKErrJJBpWzI-G_jVrw25J09KoK6oNtn0C7WU1T2blGtXQVrLCtmp-vk59q49jII3cfebkUDjCvRzDndL8",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA8LGlngoM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgKSY6c4JDA",
                  "preview_info": null,
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                }
              ],
              "lot_size_units": "",
              "manager": "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgIDE1rmFCgw",
              "clear_height": "",
              "size_units": "SF",
              "submarket": "",
              "notification_email": "",
              "id": "5172494218559488",
              "market": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEwsSBk1hcmtldBiAgIDQ2YrWCAw",
              "size": "21500",
              "sprinkler": "",
              "title": "8925 Carroll Way",
              "building_class": "",
              "created_by": {
                "first_name": "RealMassive",
                "last_name": "San Diego",
                "title": "",
                "photo": "/static/img/default_profile.jpg",
                "company": "RealMassive",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA8LGlngoM",
                "is_premium": false,
                "id": ""
              },
              "property_owner": "",
              "leed": "",
              "space_keys": [
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMTHqZYLDA"
              ],
              "type": "Office",
              "operating_expenses": "0.0",
              "parking_rate": "",
              "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMSyi5gJDA",
              "address": {
                "city": "San Diego",
                "state": "CA",
                "street": "8925 Carroll Road",
                "geo": {
                  "latitude": "32.8820686",
                  "longitude": "-117.1562406"
                },
                "zipcode": "92126"
              },
              "location_url": "/us/ca/san-diego/8925-carroll-way/5172494218559488",
              "promoted_spaces": "",
              "year_built": "",
              "created_at": "2014-12-17T04:28:58.359914+00:00",
              "cover": {
                "category": "exterior",
                "gs_path": "/gs/realmassive-production-images/us-ca-san-diego-8925-carroll-way-5172494218559488-1418923223.png",
                "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-ca-san-diego-8925-carroll-way-5172494218559488-1418923223.png",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMSyi5gJDA",
                "title": "",
                "url": "https://lh4.ggpht.com/XwZOFvnhybwZgXKErrJJBpWzI-G_jVrw25J09KoK6oNtn0C7WU1T2blGtXQVrLCtmp-vk59q49jII3cfebkUDjCvRzDndL8",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA8LGlngoM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgKSY6c4JDA",
                "preview_info": null,
                "youtube_id": "",
                "id": "",
                "is_video": "",
                "approved": true
              },
              "lot_size": "",
              "building_parking_ratio": ""
            }
          ],
          "number_found": 10100
        }
        
## Building Search [/api/v1/buildings?address=true&{address.address,address.city,address.full_state,address.geo,address.geo.latitude,address.geo.longitude,address.state,address.street,address.zipcode,building_class,building_parking_ratio,cover.raw_url,created_at,created_by.master_key,created_by.is_premium,created_by.last_name,created_by.first_name,key,location_url,lot_size,manager.admins.created_at,manager.admins.edited_at,manager.admins.first_name,manager.admins.is_premium,manager.admins.last_name,manager.admins.photo,manager.key,manager.members.created_at,manager.members.edited_at,manager.members.first_name,manager.members.is_premium,manager.members.last_name,manager.members.photo,manager.name,manager.owner.created_at,manager.owner.edited_at,manager.owner.first_name,manager.owner.is_premium,manager.owner.last_name,manager.owner.photo,market,operating_expenses,real_score_val,size,space_keys,submarket,title,type,limit}]
### Search for a Building [GET]
All query parameters are mandatory. If any of them is missing, it returns error code 400 with message "Wrong address parameters."

+ Parameters
    + address.address (optional, string) ... The full building address
    + address.city (optional, string) ... The building's city
    + address.full_state (optional, string) ...The building's state; currently only in the United States
    + address.geo (optional, string) ... The building's geolocation
    + address.geo.latitude (optional, string) ... The building's latitude
    + address.geo.longitude (optional, string) ... The building's longitude
    + address.state (optional, string) ...The building's state
    + address.street (optional, string) ... The building's  street name
    + address.zipcode (optional, string) ... The building's  zipcode
    + building_class (optional, string) ... The building's class
        + `A`
        + `B`
        + `C`
    + building_parking_ratio (optional, float) ... Minimum parking ratio in spaces per thousand SF
    + cover.raw_url (optional, string) ... Building's cover image's URL
    + created_at (optional, string) ... 
    + created_by.master_key (optional, string) ... Building's creator's master record key
    + created_by.is_premium (optional, string) ... Building's creator's premium status
    + created_by.last_name (optional, string) ...  Building's creator's last name
    + created_by.first_name (optional, string) ... Building's creator's first name
    + key (optional, string) ... Building's database key
    + location_url (optional, string) ... SEO-optimized URL for this building
    + lot_size (optional, string) ... 
    + manager.admins.created_at (optional, string) ... 
    + manager.admins.edited_at (optional, string) ... 
    + manager.admins.first_name (optional, string) ... 
    + manager.admins.is_premium (optional, string) ... 
    + manager.admins.last_name (optional, string) ... 
    + manager.admins.photo (optional, string) ... 
    + manager.key (optional, string) ... 
    + manager.members.created_at (optional, string) ... 
    + manager.members.edited_at (optional, string) ... 
    + manager.members.first_name (optional, string) ... 
    + manager.members.is_premium (optional, string) ... 
    + manager.members.last_name (optional, string) ... 
    + manager.members.photo (optional, string) ... 
    + manager.name (optional, string) ... This building's manager's name
    + manager.owner.created_at (optional, string) ...  This building's owner's created at date
    + manager.owner.edited_at (optional, string) ...  This building's owner's edited at date
    + manager.owner.first_name (optional, string) ...  This building's owner's first name
    + manager.owner.is_premium (optional, string) ...  This building's owner's premium status
    + manager.owner.last_name (optional, string) ...  This building's owner's last name
    + manager.owner.photo (optional, string) ... This building's owner's photo
    + market (optional, string) ... The market in which this building resides
    + operating_expenses (optional, string) ... This building's operating expenses (OPEX)
    + real_score_val (optional, string) ... This building's RealScore value
    + size (optional, string) ... The building size
    + space_keys (optional, string) ... The keys for the spaces inside this building
    + submarket (optional, string) ... The building's submarket
    + title (optional, string) ... The building's title
    + type (optional, string) ... 
        + `office`
        + `retail`
        + `indsutrial`
        + `flex space`
        + `medical office`
    + limit =`10` (optional,integer) ... limit of results length

+ Request (application/json)

        https://www.realmassive.com/api/v1/buildings?address=true&street=lamar&city=austin&state=TX&zipcode=78727

+ Response 200 (application/json)

        {
          "results": [
            {
              "edited_at": "2014-04-25T21:32:58.426260+00:00",
              "ac": "",
              "reserved": "",
              "attachments": [
                {
                  "category": "exterior",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDV2dALDA",
                  "title": "",
                  "url": "https://lh4.ggpht.com/9uJOsswdIl2SomQ3eGDFnHuHzGyBVr6_CIiuJVwS-PM0eCF7RG_Ah45TpD385mgS9GgITqmdUAeuc2beFfyNRHMvAlIF",
                  "uploaded_by": "",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgIC1uq0JDA",
                  "id": "",
                  "youtube_id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "exterior",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDV2dALDA",
                  "title": "",
                  "url": "https://lh5.ggpht.com/_4OySmW-W0y3SS3ICYVtq3AqYZI9xh9k1V3SzBM9QGPK_aCZHb7r3eYl6eocL-iX2M89iSm7zKJxZvXXjrpFwpQWid13-4U",
                  "uploaded_by": "",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgIDVg8kJDA",
                  "id": "",
                  "youtube_id": "",
                  "is_video": "",
                  "approved": true
                }
              ],
              "lot_size_units": "",
              "manager": "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgICAnsn3Cgw",
              "clear_height": "",
              "size_units": "SF",
              "submarket": "Northeast",
              "notification_email": "",
              "id": "6547374042251264",
              "size": "200000",
              "sprinkler": "",
              "title": "Lamar",
              "building_class": "B",
              "created_by": null,
              "property_owner": "",
              "leed": "",
              "space_keys": [
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgIC18MUKDA",
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgIDVpO4KDA",
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgIC17PQJDA",
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgIDVzuEJDA",
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgIDV2bAIDA",
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICV9fsJDA",
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgIDVpO4JDA",
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMDDq8IJDA",
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMCH3sIJDA",
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMCSvs0IDA",
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMCH3sILDA",
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMDDtd0JDA",
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMCUt8EIDA"
              ],
              "type": "Office",
              "operating_expenses": "0.5",
              "parking_rate": "",
              "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDV2dALDA",
              "address": {
                "city": "Austin",
                "state": "TX",
                "street": "5555 N. Lamar Blvd.",
                "geo": {
                  "latitude": "30.3233254",
                  "longitude": "-97.725397"
                },
                "zipcode": "78751"
              },
              "promoted_spaces": "",
              "year_built": "",
              "created_at": "2014-04-09T19:40:07.510340+00:00",
              "cover": {
                "category": "exterior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDV2dALDA",
                "title": "",
                "url": "https://lh4.ggpht.com/9uJOsswdIl2SomQ3eGDFnHuHzGyBVr6_CIiuJVwS-PM0eCF7RG_Ah45TpD385mgS9GgITqmdUAeuc2beFfyNRHMvAlIF",
                "uploaded_by": "",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgIC1uq0JDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              "lot_size": "",
              "building_parking_ratio": ""
            }
          ],
          "number_of_results": 1
        }

+ Response 400 (application/json)

        {"error": "Wrong address parameters."}

# Group Spaces
## Fetch Spaces by id [/api/v1/spaces/{id}]
### Fetch a space by id [GET]

+ Parameters

    + id (string) ... unique id

+ Request (application/json)

        https://www.realmassive.com/api/v1/spaces/ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMC83NcIDA

+ Response 200 (application/json)

        {
          "edited_at": "2014-07-08T05:00:46.457930+00:00",
          "attachments": [
            {
              "category": "floor_plan",
              "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMC83NcIDA",
              "title": "",
              "url": "https://lh5.ggpht.com/wV4K55YFxVVUNr2xjfynr3--kKtEvkt5WiUE6IfwbPyme1oIEKqh_436LgEe1gw6f30A_kCq_p74Y6rmBUswC-EA-IYJ",
              "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
              "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDeupILDA",
              "id": "",
              "youtube_id": "",
              "is_video": "",
              "approved": true
            }
          ],
          "short_url": "http://real.ma/UbzgxX",
          "rate": "24.0",
          "notification_email": "",
          "id": "4889407010111488",
          "lease_term": "",
          "portfolio_space_keys": [
            "ahJzfnJlYWxtYXNzaXZlLXByb2RyMQsSCVBvcnRmb2xpbxiAgICg0I2YCQwLEg5Qb3J0Zm9saW9TcGFjZRiAgICAgICACgw",
            "ahJzfnJlYWxtYXNzaXZlLXByb2RyMQsSCVBvcnRmb2xpbxiAgICAn7D3CgwLEg5Qb3J0Zm9saW9TcGFjZRiAgICAgMOVCgw",
            "ahJzfnJlYWxtYXNzaXZlLXByb2RyMQsSCVBvcnRmb2xpbxiAgIDA8anHCAwLEg5Qb3J0Zm9saW9TcGFjZRiAgICAgPKICgw"
          ],
          "is_promoted": false,
          "title": "823 Congress, Suite 225",
          "editors": [],
          "created_by": {
            "first_name": "Lesley",
            "last_name": "Sanchez",
            "title": "Director of Marketing",
            "photo": "https://media.licdn.com/mpr/mprx/0_i-QzCdYSkEPnMR3UbGXRkHpDCEu9RZSUbC4ZkHh_fODzxM0zLGFJ6mQWIGb",
            "company": "Peloton Commercial Real Estate",
            "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
            "is_premium": false,
            "id": ""
          },
          "space_available_units": "SF",
          "ti": "",
          "space_available": "794",
          "unit_number": "225",
          "analysts": [],
          "status": "Public",
          "edited_by": {
            "first_name": "Lesley",
            "last_name": "Sanchez",
            "title": "Director of Marketing",
            "photo": "https://media.licdn.com/mpr/mprx/0_i-QzCdYSkEPnMR3UbGXRkHpDCEu9RZSUbC4ZkHh_fODzxM0zLGFJ6mQWIGb",
            "company": "Peloton Commercial Real Estate",
            "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
            "is_premium": false,
            "id": ""
          },
          "description": "Rising 16 stories, 823 Congress features a cozy lobby with polished granite floors with African Mahogany detail. \n\nOne McQuay (425-ton), one Carrier (425-ton) and one York (180-ton) chiller are located in the basement. The McQuay was installed new in 2007. A Marley cooling tower is located on the roof of the third level and was upgraded in 2007. An Alerton energy management system located in the basement controls the HVAC equipment\n\nFour Dover gearless traction passenger elevators serve the building, The elevators were modernized in 1998 and the cabs were upgraded in 2007.\n\n220 spaces, 196 spaces in the six-level parking garage; 24 surface spaces under ground lease\n\nElectric, water, sewer - City of Austin\nNatural gas - Texas Gas Service\nTelephone - SBC\nFiber - SBC, Time Warner\n\nLocated at the intersections of 9th Street and Congress Avenue, 823 Congress resides in the heart of Austin’s widely popular Central Business District. Boasting numerous popular restaurant and night life destinations, a wide range of retail, Whole Foods’ flagship grocery, the highest concentration of downtown residential units and immediate access to Austin’s downtown hike and bike trail network, Downtown Austin represents Austin’s most complete mixed-use district where people can truly work, live and play.\n\nOver 2,000 residential apartments and condominiums are located within a 10 block radius of 823 Congress, of which over 1,400 units have been completed since 2008.\n\nMore than 2.2 million square feet of new office, retail, residential, and hotel space has been added to the downtown landscape over the past few years.",
          "rate_units": "",
          "availability_date": "",
          "floor_number": "",
          "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMC83NcIDA",
          "permissions": [
            "Create",
            "Read"
          ],
          "building": {
            "ac": "",
            "reserved": "",
            "attachments": [
              {
                "category": "exterior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh6.ggpht.com/IFbCXIBvr0CNI6-8Q3muGWidCPko3eTw3GhEIxpV7YPxUJoXHlptwMz5kYKtCE6Cty6x3DX4kwPRzLX2F5hGUlPrK87N",
                "uploaded_by": "",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDyxtMJDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "exterior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh5.ggpht.com/ppyRsHGp5tz5_Jou3vBpC9tsd44TywYlctmMW_DVXviXK9_LkfI6wRJFPwJIIXKlJQo7S7MiExQSUyoP8Stndt2xOIjPqA",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCAoN0IDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "interior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh6.ggpht.com/tFpVtPZnTfsXVn_1sZgkDPx6oE1uD4mJHwmEKf5D2XnNFBvz42bGxCDZasPQh_-skw5USmhPSdyBAMV83VOrZAWEuk5Q",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCY65oLDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "exterior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh5.ggpht.com/GVG_pozPVhWt14xif2nBOWh6ShW7PSe3P6n9kDzTKS_5G__sKW39eN4icgi-SQ9u3uIrqShiVv4bUi1OjQh9ezjRNJZ6h10",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDNksELDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "interior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh3.ggpht.com/MezEro4uxwlxEtDQbaJreQoRsATK4UN7byH4z-N-Dkc6qR0Mukw_EfEsXIsRNsoEdbRf1thwYWzkyGpA7sL3zSd4DIUdaA",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDPqsgIDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "interior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh6.ggpht.com/J_nx6oVEaSAKGqjqveW5FIh-2Y9QyjNeDb4wtOyC3ZO4ZVa6DXZK3qOpdUlq_mip6PHWYfOvrVQnMFlMFNp1ZxLgaE4p8g",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgID_-8wKDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "exterior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh3.ggpht.com/rK1iegJ8nWNKYqBXmQiW2wTdcDPQXrWEqc0Uuc8X8qukOjf_d9Ja9UnvZRfDcP20_V-8ryZcz_Lo4QODeXhFtfJ26TyP6A",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDznpcJDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "interior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh3.ggpht.com/eqVRebYIIcXXFRpnF6VsVl2FxL04Htc3953bjKp2_0Rx6BIJFLLC0NWdf8K50Y_2bzLCZXGht0xYp1o6I6QOHja4-N16",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDN6YkJDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "exterior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh4.ggpht.com/97KF-hWzRZrqmb9Jqyy1fAd38lyAUAFV2307XaL6qIlvgXlEeW2cU6D7vAIx-1k4yfhrN-hmZre1a2K-LckdOOhkvS_qVw",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDu9Y4JDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              }
            ],
            "lot_size_units": "",
            "manager": "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgIDA9PrACQw",
            "clear_height": "",
            "size_units": "SF",
            "submarket": "Central Business District",
            "notification_email": "",
            "id": "",
            "size": "181381",
            "sprinkler": "",
            "title": "823 Congress",
            "building_class": "A",
            "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
            "property_owner": "",
            "leed": "",
            "type": "Office",
            "operating_expenses": "15.61",
            "parking_rate": "",
            "number_of_spaces": "",
            "address": {
              "city": "Austin",
              "state": "TX",
              "street": "823 Congress Avenue",
              "geo": {
                "latitude": "30.270586",
                "longitude": "-97.7416363"
              },
              "zipcode": "78701"
            },
            "permissions": [
              "Create",
              "Read"
            ],
            "year_built": "1974",
            "cover": {
              "category": "exterior",
              "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
              "title": "",
              "url": "https://lh6.ggpht.com/IFbCXIBvr0CNI6-8Q3muGWidCPko3eTw3GhEIxpV7YPxUJoXHlptwMz5kYKtCE6Cty6x3DX4kwPRzLX2F5hGUlPrK87N",
              "uploaded_by": "",
              "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDyxtMJDA",
              "id": "",
              "youtube_id": "",
              "is_video": "",
              "approved": true
            },
            "lot_size": "",
            "building_parking_ratio": "21.0"
          },
          "availableBuildingSquareFeet": 13950,
          "divisible": "",
          "created_at": "2014-06-18T17:02:18.302150+00:00",
          "contacts": [],
          "cover": {
            "category": "exterior",
            "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
            "title": "",
            "url": "https://lh6.ggpht.com/IFbCXIBvr0CNI6-8Q3muGWidCPko3eTw3GhEIxpV7YPxUJoXHlptwMz5kYKtCE6Cty6x3DX4kwPRzLX2F5hGUlPrK87N",
            "uploaded_by": "",
            "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDyxtMJDA",
            "id": "",
            "youtube_id": "",
            "is_video": "",
            "approved": true
          },
          "office_finish_percentage": "",
          "space_type": "lease"
        }

## Search for a Space by full text query [/api/v1/spaces/search/{query}{?limit,rate_min,rate_max,space_min,space_max,types,submarkets}]
### Full text space search [GET]

+ Parameters

    + query (string) ... urlencoded string
    + limit = `80` (optional, integer) ... constrain the results to _limit_
    + rate_min = `0` (optional, integer) ... minimum rate
    + rate_max = `unlimited` (optional, integer) ... maximum rate
    + space_min = `0` (optional, integer) ... minimum available space
    + space_max = `unlimited` (optional, integer) ... maximum available space
    + types (optional) ... comma-separated list of space types :
        + Values
            + `Industrial`
            + `Office`
            + `Retail`
            + `Land`
            + `Flex Space`
    + submarkets (optional) ... comma-separated list of submarkets
        + Values
            + `Central Business District`
            + `Cedar Park`
            + `Central`
            + `East`
            + `South`
            + `Far Northeast`
            + `Far Northwest`
            + `Georgetown`
            + `North`
            + `Northeast`
            + `Northwest`
            + `Round Rock`
            + `Southeast`
            + `Southwest`
            + `West Central`
            + `North Central`


+ Request (application/json)

        https://www.realmassive.com/api/v1/spaces/search/austin?limit=1

+ Response 200 (application/json)

        {
          "cursor": "False:CpMFCu4BCtEB_7_hkPdAAAAA9w06baz6uv5OjIGNmp6Tkp6MjJaJmtKPjZCb_wB0baCgmYuMoKD_AF2ej4-akZiWkZr_AHN0bZaRm5qH_wBdjI-enJqgzf8Ac3Rtm5CcoJab_wBdnpe1hZmRtZOmqIeLpqexhZ6npZOzp72Gnc2thrqYjKy9qbGIpqixk7i2vL6YsrzHzLGctru-_wBzf56XtYWZkbWTpqiHi6ansYWep6WTs6e9hp3NrYa6mIysvamxiKaosZO4try-mLK8x8yxnLa7vv8A__4QASFMcw71s9sZvFAAWgsJHNxROgnoRjEQARINRG9jdW1lbnRJbmRleBrXAihBTkQgKElTICJjdXN0b21lcl9uYW1lIiAiYXBwZW5naW5lIikgKElTICJncm91cF9uYW1lIiAic35yZWFsbWFzc2l2ZS1wcm9kIikgKElTICJuYW1lc3BhY2UiICIiKSAoSVMgImluZGV4X25hbWUiICJzcGFjZV8yIikgKEFORCAoT1IgKFFUICJhdXN0aW4iKSAoSVMgIl9fZ2F0b21fXyIgImF1c3RpbiIpKSAoQU5EIChJTl9MIHJnZW9fZ2VvIChMT0MgMzAuMjY2OTQ0NCAtOTcuNzQyNzc3OCkgMzIxODYuMDAwMDAwMDAwMDAwMCkgKExFIDQuMDAwMDAwMDAwMDAwMDAwMDAgInNuYnJfc3BhY2VfYXZhaWxhYmxlIikgKEdFIDEyMzQ1Njc4OTAuMDAwMDAwMDAgInNuYnJfc3BhY2VfYXZhaWxhYmxlIikpKSk6GQoMKE4gb3JkZXJfaWQpEAEZAAAAAAAA8P9KHAgBOhVzdDpidGlfZ2VuZXJpY19zY29yZXJA6Ac",
          "results": [
            {
              "manager_name": "Peloton Commercial Real Estate",
              "manager": "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgIDA9PrACQw",
              "street": "823 Congress Avenue",
              "submarket": "Central Business District",
              "size": 181381.0,
              "city": "Austin",
              "title": "823 Congress, Suite 225",
              "building_class": "A",
              "zipcode": "78701",
              "state": "TX",
              "space_available_units": "SF",
              "attachment": "https://lh6.ggpht.com/IFbCXIBvr0CNI6-8Q3muGWidCPko3eTw3GhEIxpV7YPxUJoXHlptwMz5kYKtCE6Cty6x3DX4kwPRzLX2F5hGUlPrK87N",
              "space_available": 794.0,
              "type": "Office",
              "unit_number": "225",
              "description": "Rising 16 stories, 823 Congress features a cozy lobby with polished granite floors with African Mahogany detail. \n\nOne McQuay (425-ton), one Carrier (425-ton) and one York (180-ton) chiller are located in the basement. The McQuay was installed new in 2007. A Marley cooling tower is located on the roof of the third level and was upgraded in 2007. An Alerton energy management system located in the basement controls the HVAC equipment\n\nFour Dover gearless traction passenger elevators serve the building, The elevators were modernized in 1998 and the cabs were upgraded in 2007.\n\n220 spaces, 196 spaces in the six-level parking garage; 24 surface spaces under ground lease\n\nElectric, water, sewer - City of Austin\nNatural gas - Texas Gas Service\nTelephone - SBC\nFiber - SBC, Time Warner\n\nLocated at the intersections of 9th Street and Congress Avenue, 823 Congress resides in the heart of Austin’s widely popular Central Business District. Boasting numerous popular restaurant and night life destinations, a wide range of retail, Whole Foods’ flagship grocery, the highest concentration of downtown residential units and immediate access to Austin’s downtown hike and bike trail network, Downtown Austin represents Austin’s most complete mixed-use district where people can truly work, live and play.\n\nOver 2,000 residential apartments and condominiums are located within a 10 block radius of 823 Congress, of which over 1,400 units have been completed since 2008.\n\nMore than 2.2 million square feet of new office, retail, residential, and hotel space has been added to the downtown landscape over the past few years.",
              "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMC83NcIDA",
              "address": "823 Congress Avenue Austin 78701 TX",
              "geo": {
                "latitude": 30.270586000000002,
                "longitude": -97.741636299999996
              },
              "number_of_attachments": 10.0,
              "full_state": "Texas",
              "year_built": 1974.0,
              "space_id": "4889407010111488",
              "rate": 24.0,
              "operating_expenses": 15.609999999999999,
              "space_type": "lease",
              "building_parking_ratio": 21.0
            }
          ],
          "number_found": 1175
        }
        

# Group Portfolios

## Introduction
A Portfolio is collection for Space copies which are called Portfolio Spaces. Portfolio Space has revision system similiar to that which Spaces have. When original Space (called master) is changed, all related Portfolio Spaces are checked for conflict. If there is no conflict, changes from master are automatically applied to Portfolio Space. Otherwise, nothing happend and owner has to apply or discard this changes mannually.

## Portfolio properties

* **agents**
* **archived**
* **created_at**
* **edited_at**
* **id**
* **key**
* **number_of_spaces**
* **owner**
* **public**
* **short_url**
* **title**
* **viewers**

## View Portfolios [/portfolios]
### Fetch all of the portfolios of the currently logged in user [GET]

Note:

* You must be logged into a user with the login cookies stored, review the User API for more information on this topic.

+ Request

        https://www.realmassive.com/portfolios

+ Response 200 (application/json)

        {
            "cursor": null,
            "results": [
                {
                "edited_at": "2014-10-08T14:01:37.032590+00:00",
                "archived": false,
                "title": “Example Portfolio",
                "short_url": "http://real.ma/123456",
                "created_at": "2014-10-07T14:55:22.919510+00:00",
                "public": false,
                "number_of_spaces": "1",
                "agents": [],
                "key": “abcdefghijklmnopqrstuvwxyx1234567890abcdefghijklmnopqrstuvwxyx12345",
                "owner": {
                    "first_name": "John",
                    "last_name": "Doe",
                    "title": "Developer",
                    "photo": "https://s3.amazonaws.com/ksr/assets/000/493/960/3713cce70e04338e0ced4f4f7d46e73d_large.jpg?1365139395",
                    "company": "RealMassive",
                    "master_key": "abcdefghijklmnopqrstuvwxyx1234567890abcdefghijklmnopqrstuvw",
                    "is_premium": false,
                    "id": ""
                },
                "id": "1234567890987654",
                "viewers": []
                }
            ]
        }

## Creating a Portfolio [/portfolios?title={title_string}]
### Create a portfolio with a given title [POST]

Note

* make sure you portfolio title is URL encoded
* verify that you that your PUT is using the JSON/Application format

+ Request (application/json)

        https://www.realmassive.com/api/v1/portfolios?title=Example%20Portfolio

+ Response 200 (application/json)



## Fetch Portfolios by id [/portfolios/{id}]
### Fetch the details of a portfolio by id [GET]

+ Parameters

    + id (string) ... unique id

+ Request (application/json)

        https://www.realmassive.com/api/v1/portfolios/5669562083180544

+ Response 200 (application/json)

        {
            "cursor": null,
            "results": [
                {
                    "edited_at": "2014-10-13T16:48:26.283250+00:00",
                    "archived": false,
                    "title": "Example Portfolio",
                    "short_url": "http://real.ma/1sBnkoa",
                    "created_at": "2014-10-13T16:48:22.924680+00:00",
                    "public": false,
                    "number_of_spaces": "1",
                "agents": [],
                "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFgsSCVBvcnRmb2xpbxiAgIDQ_I2JCgw",
                "owner": {
                    "first_name": "Richard",
                    "last_name": "Armstrong",
                    "title": "iOS Developer",
                    "photo": "https://lh4.ggpht.com/ayV0Av7bZBZk4qDSEMWwfM_uvMpy2NcXjBCbw65-7tyeT5vTul3N82yiZgdPthtlzbKbbXIWi1kq_kBWWdRpPb5wygloHw",
                    "company": "RealMassive",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA4OeiggkM",
                    "is_premium": false,
                    "id": ""
                },
                "id": "5669562083180544",
                "viewers": []
            },
            {
                "edited_at": "2014-10-08T14:01:37.032590+00:00",
                "archived": false,
                "title": "Domain Retail Space",
                "short_url": "http://real.ma/1s8prjc",
                "created_at": "2014-10-07T14:55:22.919510+00:00",
                "public": false,
                "number_of_spaces": "2",
                "agents": [],
                "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFgsSCVBvcnRmb2xpbxiAgICQh9GWCgw",
                "owner": {
                    "first_name": "Richard",
                    "last_name": "Armstrong",
                    "title": "iOS Developer",
                    "photo": "https://lh4.ggpht.com/ayV0Av7bZBZk4qDSEMWwfM_uvMpy2NcXjBCbw65-7tyeT5vTul3N82yiZgdPthtlzbKbbXIWi1kq_kBWWdRpPb5wygloHw",
                    "company": "RealMassive",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA4OeiggkM",
                    "is_premium": false,
                    "id": ""
                },
                "id": "5729041608867840",
                "viewers": []
            }
        ]
        }
        
### Delete portfolio by id [DELETE]

+ Request

        https://www.realmassive.com/portfolios/{id}

+ Response 200

## Archive or Unarchive a Portfolio [/portfolios/{id}/{archive|unarchive}]
### Archive or Unarchive a Portfolio by id and parameter [POST]

+ Parameters

    + unarchive (string) ... unarchive
    + archive (string) ... archive

+ Request

        https://www.realmassive.com/api/v1/portfolios/5669562083180544/unarchive

+ Response 200

## Spaces within a Portfolio [/portfolios/{id}/spaces]
### Fetch all the space data from a  portfolio by id [GET]

+ Parameters

    + id (string) ... unique id

+ Request (application/json)

        https://www.realmassive.com/api/v1/portfolios/5669562083180544/spaces

+ Response 200 (application/json)

        {
        attachments =         (
        );
        "availability_date" = "";
        building =         {
            ac = 1;
            address =             {
                city = Austin;
                geo =                 {
                    latitude = "30.39442";
                    longitude = "-97.720187";
                };
                state = TX;
                street = "11005 Burnet Road";
                zipcode = 78758;
            };
            attachments =             (
                                {
                    approved = 1;
                    category = "";
                    id = "";
                    "is_video" = "";
                    "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgIDVg5kKDA;
                    target = ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgICV69YLDA;
                    title = "";
                    "uploaded_by" = "";
                    url = "https://lh5.ggpht.com/0NAbdnX9a54twWQZeNIOkipKu89qmTeMQn1JquAPNXvJtAX3fFFEOvW7P40TO3r7ePjW_3rQt4JBAUnwN_vXFqj6_x5CWA";
                    "youtube_id" = "";
                },
                                {
                    approved = 1;
                    category = "";
                    id = "";
                    "is_video" = "";
                    "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgIDVl4QKDA;
                    target = ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgICV69YLDA;
                    title = "";
                    "uploaded_by" = "";
                    url = "https://lh3.ggpht.com/kBCQhy1yRF6Y8UYhwxKosbiOPwKkmvwyXt_m1b4UzhIGlvp0JwbG49XqI7o5GFrSCcLKrI8AK7yO_9jUMXxT_m99t1bX";
                    "youtube_id" = "";
                },
                                {
                    approved = 1;
                    category = "";
                    id = "";
                    "is_video" = "";
                    "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgICV9ecIDA;
                    target = ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgICV69YLDA;
                    title = "";
                    "uploaded_by" = "";
                    url = "https://lh3.ggpht.com/uUx5xiqeYVqurRAlIOJZAEK9jQ3S24FW1YxIBKG5bz61VByGzTxXXsu_BURpI9Meyap007tZISMzNIbFiQLT8J6LboVqv5w";
                    "youtube_id" = "";
                }
            );
            "building_class" = A;
            "building_parking_ratio" = "";
            "clear_height" = "";
            cover =             {
                approved = 1;
                category = "";
                id = "";
                "is_video" = "";
                "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgIDVg5kKDA;
                target = ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgICV69YLDA;
                title = "";
                "uploaded_by" = "";
                url = "https://lh5.ggpht.com/0NAbdnX9a54twWQZeNIOkipKu89qmTeMQn1JquAPNXvJtAX3fFFEOvW7P40TO3r7ePjW_3rQt4JBAUnwN_vXFqj6_x5CWA";
                "youtube_id" = "";
            };
            id = "";
            leed = "";
            "lot_size" = "";
            "lot_size_units" = "";
            manager = "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgICAp-nfCgw";
            market = "";
            "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgICV69YLDA;
            "notification_email" = "";
            "number_of_spaces" = "";
            "operating_expenses" = "";
            "parking_rate" = "";
            "property_owner" = "";
            reserved = "";
            size = 12000;
            "size_units" = SF;
            sprinkler = "";
            submarket = North;
            title = "Edge Eleven";
            type = Retail;
            "year_built" = "";
        };
        cover = "<null>";
        "created_at" = "2014-10-14T15:45:26.256150+00:00";
        "created_by" = "<null>";
        description = "\U2022 Future cross access to the Domain  \U2022 Domain Phase II under construction \U2022 Located at Burnet and Kramer between The Domain and the new Kramer Rail Station \U2022 Top Golf, just down the street, now open \U2022 Close by large industrial business / great day pops";
        divisible = "";
        "edited_at" = "2014-10-14T17:48:12.765490+00:00";
        "edited_by" =         {
            company = RealMassive;
            "first_name" = Richard;
            id = "";
            "is_premium" = 0;
            "last_name" = Armstrong;
            "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA4OeiggkM;
            photo = "https://lh4.ggpht.com/ayV0Av7bZBZk4qDSEMWwfM_uvMpy2NcXjBCbw65-7tyeT5vTul3N82yiZgdPthtlzbKbbXIWi1kq_kBWWdRpPb5wygloHw";
            title = "iOS Developer";
        };
        "expiration_date" = "";
        "floor_number" = "";
        id = 5724160613416960;
        "is_promoted" = 0;
        key = ahJzfnJlYWxtYXNzaXZlLXByb2RyMQsSCVBvcnRmb2xpbxiAgICQh9GWCgwLEg5Qb3J0Zm9saW9TcGFjZRiAgICAgMOVCgw;
        "lease_term" = "";
        "manager_name" = "Live Oak-Gottesman";
        "master_diff" =         {
            "rate_frequency" =             (
                Yearly,
                "<null>"
            );
        };
        "master_space" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgIDVl4QJDA;
        "master_state" =         {
            "availability_date" = "";
            building =             {
                ac = 1;
                address =                 {
                    city = Austin;
                    geo =                     {
                        latitude = "30.39442";
                        longitude = "-97.720187";
                    };
                    state = TX;
                    street = "11005 Burnet Road";
                    zipcode = 78758;
                };
                attachments =                 (
                                        {
                        approved = 1;
                        category = "";
                        id = "";
                        "is_video" = "";
                        "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgIDVg5kKDA;
                        target = ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgICV69YLDA;
                        title = "";
                        "uploaded_by" = "";
                        url = "https://lh5.ggpht.com/0NAbdnX9a54twWQZeNIOkipKu89qmTeMQn1JquAPNXvJtAX3fFFEOvW7P40TO3r7ePjW_3rQt4JBAUnwN_vXFqj6_x5CWA";
                        "youtube_id" = "";
                    },
                                        {
                        approved = 1;
                        category = "";
                        id = "";
                        "is_video" = "";
                        "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgIDVl4QKDA;
                        target = ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgICV69YLDA;
                        title = "";
                        "uploaded_by" = "";
                        url = "https://lh3.ggpht.com/kBCQhy1yRF6Y8UYhwxKosbiOPwKkmvwyXt_m1b4UzhIGlvp0JwbG49XqI7o5GFrSCcLKrI8AK7yO_9jUMXxT_m99t1bX";
                        "youtube_id" = "";
                    },
                                        {
                        approved = 1;
                        category = "";
                        id = "";
                        "is_video" = "";
                        "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgICV9ecIDA;
                        target = ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgICV69YLDA;
                        title = "";
                        "uploaded_by" = "";
                        url = "https://lh3.ggpht.com/uUx5xiqeYVqurRAlIOJZAEK9jQ3S24FW1YxIBKG5bz61VByGzTxXXsu_BURpI9Meyap007tZISMzNIbFiQLT8J6LboVqv5w";
                        "youtube_id" = "";
                    }
                );
                "building_class" = A;
                "building_parking_ratio" = "";
                "clear_height" = "";
                cover =                 {
                    approved = 1;
                    category = "";
                    id = "";
                    "is_video" = "";
                    "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgIDVg5kKDA;
                    target = ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgICV69YLDA;
                    title = "";
                    "uploaded_by" = "";
                    url = "https://lh5.ggpht.com/0NAbdnX9a54twWQZeNIOkipKu89qmTeMQn1JquAPNXvJtAX3fFFEOvW7P40TO3r7ePjW_3rQt4JBAUnwN_vXFqj6_x5CWA";
                    "youtube_id" = "";
                };
                id = "";
                leed = "";
                "lot_size" = "";
                "lot_size_units" = "";
                manager = "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgICAp-nfCgw";
                market = "";
                "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgICV69YLDA;
                "notification_email" = "";
                "number_of_spaces" = "";
                "operating_expenses" = "";
                "parking_rate" = "";
                "property_owner" = "";
                reserved = "";
                size = 12000;
                "size_units" = SF;
                sprinkler = "";
                submarket = North;
                title = "Edge Eleven";
                type = Retail;
                "year_built" = "";
            };
            description = "\U2022 Future cross access to the Domain  \U2022 Domain Phase II under construction \U2022 Located at Burnet and Kramer between The Domain and the new Kramer Rail Station \U2022 Top Golf, just down the street, now open \U2022 Close by large industrial business / great day pops";
            divisible = "";
            "expiration_date" = "";
            "floor_number" = "";
            "is_promoted" = 0;
            "lease_term" = "";
            "office_finish_percentage" = "";
            rate = "35.0";
            "rate_frequency" = Yearly;
            "rate_units" = "$/SF";
            "space_available" = 1500;
            "space_available_units" = SF;
            "space_type" = lease;
            status = Public;
            ti = "";
            "unit_number" = 105;
        };
        "number_of_attachments" = 3;
        "office_finish_percentage" = "";
        portfolio = ahJzfnJlYWxtYXNzaXZlLXByb2RyFgsSCVBvcnRmb2xpbxiAgICQh9GWCgw;
        rate = "28.0";
        "rate_frequency" = Yearly;
        "rate_units" = "$/SF";
        "search_rate" = "28.0";
        "space_available" = 1650;
        "space_available_units" = SF;
        "space_id" = 5084954857832448;
        "space_type" = lease;
        status = Public;
        ti = "";
        title = "Edge Eleven, Suite 105";
        "unit_number" = 105;
        }

        
### Adding a space to a portfolio [POST]

Required Headers:

* **Content-Type:** application/json

Required Body:

* **Body:** space_key=ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMCp3p8KDA3

Note:

* Make sure the body is url encoded
* Content-Length may be required, if so, use the length of "Body"

+ Request (application/json)

        https://www.realmassive.com/portfolio/{id}/spaces

    + Body

            space_key=ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMCp3p8KDA
            
+ Response 200 (application/json)

        {
            attachments =     (
            );
            "availability_date" = "";
            building =     {
                ac = "";
                address =         {
                    city = Austin;
                    geo =             {
                        latitude = "30.3986365";
                        longitude = "-97.7201568";
                    };
                    state = TX;
                    street = "2901 Esperanza Crossing";
                    zipcode = 78758;
                };
                attachments =         (
                                {
                        approved = 1;
                        category = exterior;
                        id = "";
                        "is_video" = "";
                        "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDNhN8IDA;
                        target = "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDJ-5sJDA";
                        title = "";
                        "uploaded_by" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM;
                        url = "https://lh6.ggpht.com/uNVrjOr009Kh_IGerd1iy-HmM_5kFHZwWbpJXSyFKHpwZh7N9oJ0Qgme2YfjTqRQq_o4v8JxCL38EmJREVeiyaRygwhPkW4";
                        "youtube_id" = "";
                    },
                                {
                        approved = 1;
                        category = interior;
                        id = "";
                        "is_video" = "";
                        "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDsxYcLDA;
                        target = "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDJ-5sJDA";
                        title = "";
                        "uploaded_by" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM;
                        url = "https://lh5.ggpht.com/RVbezP-iVoOuSdPTe35GFQMjLGQ3xVUmznfXmOziy4yXCaNRfmI3n3yIXHxgCjxAQOF0kzmIBJz9jva0dyca7vdZ3JpqxA";
                        "youtube_id" = "";
                    },
                                {
                        approved = 1;
                        category = interior;
                        id = "";
                        "is_video" = "";
                        "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDNksEIDA;
                        target = "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDJ-5sJDA";
                        title = "";
                        "uploaded_by" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM;
                        url = "https://lh6.ggpht.com/PEwYxwZX-rqPEKVSdI82UHkgtAJ9Tv_k0d971rghY95mgnm0a7yv3OTVn6IyPCLf1Lx1vhWrtZJmmTHHSQ2s4StBMwxdAUo";
                        "youtube_id" = "";
                    }
                );
                "building_class" = A;
                "building_parking_ratio" = "3.7";
                "clear_height" = "";
                cover =         {
                    approved = 1;
                    category = exterior;
                    id = "";
                    "is_video" = "";
                    "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDNhN8IDA;
                    target = "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDJ-5sJDA";
                    title = "";
                    "uploaded_by" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM;
                    url = "https://lh6.ggpht.com/uNVrjOr009Kh_IGerd1iy-HmM_5kFHZwWbpJXSyFKHpwZh7N9oJ0Qgme2YfjTqRQq_o4v8JxCL38EmJREVeiyaRygwhPkW4";
                    "youtube_id" = "";
                };
                id = "";
                leed = "";
                "lot_size" = "";
                "lot_size_units" = "";
                manager = ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgICAg4SNCgw;
                market = ahJzfnJlYWxtYXNzaXZlLXByb2RyEwsSBk1hcmtldBiAgICQgoSOCww;
                "master_key" = "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDJ-5sJDA";
                "notification_email" = "";
                "number_of_spaces" = "";
                "operating_expenses" = "10.0";
                "parking_rate" = "";
                "property_owner" = "";
                reserved = "";
                size = 74787;
                "size_units" = SF;
                sprinkler = "";
                submarket = Northwest;
                title = "Domain 5";
                type = Office;
                "year_built" = 2015;
            };
            cover = "<null>";
            "created_at" = "2014-10-13T20:19:09.011620+00:00";
            "created_by" = "<null>";
            description = "\U2022 Domain 5 located at 2901 Esperanza Crossing \U2022 74,787 RSF \U2022 3 floors \U2022 Under construction; available \U2022 August 2015 \U2022 Rate $28.00 NNN \U2022 Opex $10.00 \U2022 Parking Ratio 3.7:1000 \U2022 Additional unmetered street parking is available within The Domain.";
            divisible = 1;
            "edited_at" = "2014-10-13T20:19:09.010790+00:00";
            "edited_by" = "<null>";
            "expiration_date" = "";
            "floor_number" = 1;
            id = 5649050225344512;
            "is_promoted" = 0;
            key = ahJzfnJlYWxtYXNzaXZlLXByb2RyMQsSCVBvcnRmb2xpbxiAgICQh9GWCgwLEg5Qb3J0Zm9saW9TcGFjZRiAgICAgLmECgw;
            "lease_term" = "";
            "manager_name" = "";
            "master_diff" = "";
            "master_space" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMCp3p8KDA;
            "master_state" =     {
                "availability_date" = "";
                building =         {
                    ac = "";
                    address =             {
                        city = Austin;
                        geo =                 {
                            latitude = "30.3986365";
                            longitude = "-97.7201568";
                        };
                        state = TX;
                        street = "2901 Esperanza Crossing";
                        zipcode = 78758;
                    };
                    attachments =             (
                                        {
                            approved = 1;
                            category = exterior;
                            id = "";
                            "is_video" = "";
                            "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDNhN8IDA;
                            target = "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDJ-5sJDA";
                            title = "";
                            "uploaded_by" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM;
                            url = "https://lh6.ggpht.com/uNVrjOr009Kh_IGerd1iy-HmM_5kFHZwWbpJXSyFKHpwZh7N9oJ0Qgme2YfjTqRQq_o4v8JxCL38EmJREVeiyaRygwhPkW4";
                            "youtube_id" = "";
                        },
                                        {
                            approved = 1;
                            category = interior;
                            id = "";
                            "is_video" = "";
                            "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDsxYcLDA;
                            target = "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDJ-5sJDA";
                            title = "";
                            "uploaded_by" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM;
                            url = "https://lh5.ggpht.com/RVbezP-iVoOuSdPTe35GFQMjLGQ3xVUmznfXmOziy4yXCaNRfmI3n3yIXHxgCjxAQOF0kzmIBJz9jva0dyca7vdZ3JpqxA";
                            "youtube_id" = "";
                        },
                                        {
                            approved = 1;
                            category = interior;
                            id = "";
                            "is_video" = "";
                            "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDNksEIDA;
                            target = "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDJ-5sJDA";
                            title = "";
                            "uploaded_by" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM;
                            url = "https://lh6.ggpht.com/PEwYxwZX-rqPEKVSdI82UHkgtAJ9Tv_k0d971rghY95mgnm0a7yv3OTVn6IyPCLf1Lx1vhWrtZJmmTHHSQ2s4StBMwxdAUo";
                            "youtube_id" = "";
                        }
                    );
                    "building_class" = A;
                    "building_parking_ratio" = "3.7";
                    "clear_height" = "";
                    cover =             {
                        approved = 1;
                        category = exterior;
                        id = "";
                        "is_video" = "";
                        "master_key" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDNhN8IDA;
                        target = "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDJ-5sJDA";
                        title = "";
                        "uploaded_by" = ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM;
                        url = "https://lh6.ggpht.com/uNVrjOr009Kh_IGerd1iy-HmM_5kFHZwWbpJXSyFKHpwZh7N9oJ0Qgme2YfjTqRQq_o4v8JxCL38EmJREVeiyaRygwhPkW4";
                        "youtube_id" = "";
                    };
                    id = "";
                    leed = "";
                    "lot_size" = "";
                    "lot_size_units" = "";
                    manager = ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgICAg4SNCgw;
                    market = ahJzfnJlYWxtYXNzaXZlLXByb2RyEwsSBk1hcmtldBiAgICQgoSOCww;
                    "master_key" = "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDJ-5sJDA";
                    "notification_email" = "";
                    "number_of_spaces" = "";
                    "operating_expenses" = "10.0";
                    "parking_rate" = "";
                    "property_owner" = "";
                    reserved = "";
                    size = 74787;
                    "size_units" = SF;
                    sprinkler = "";
                    submarket = Northwest;
                    title = "Domain 5";
                    type = Office;
                    "year_built" = 2015;
                };
                description = "\U2022 Domain 5 located at 2901 Esperanza Crossing \U2022 74,787 RSF \U2022 3 floors \U2022 Under construction; available \U2022 August 2015 \U2022 Rate $28.00 NNN \U2022 Opex $10.00 \U2022 Parking Ratio 3.7:1000 \U2022 Additional unmetered street parking is available within The Domain.";
                divisible = 1;
                "expiration_date" = "";
                "floor_number" = 1;
                "is_promoted" = 0;
                "lease_term" = "";
                "office_finish_percentage" = "";
                rate = "26.0";
                "rate_frequency" = Yearly;
                "rate_units" = "";
                "space_available" = 24929;
                "space_available_units" = SF;
                "space_type" = lease;
                status = Public;
                ti = "";
                "unit_number" = 1;
            };
            "number_of_attachments" = "";
            "office_finish_percentage" = "";
            permissions =     (
                Read,
                ChangePermissions,
                Write,
                Delete
            );
            portfolio = ahJzfnJlYWxtYXNzaXZlLXByb2RyFgsSCVBvcnRmb2xpbxiAgICQh9GWCgw;
            rate = "26.0";
            "rate_frequency" = Yearly;
            "rate_units" = "";
            "search_rate" = "26.0";
            "space_available" = 24929;
            "space_available_units" = SF;
            "space_id" = 5769079931535360;
            "space_type" = lease;
            status = Public;
            ti = "";
            title = "Domain 5, Suite 1";
            "unit_number" = 1;
        }
    
## Spaces within a Portfolio [/portfolios/{id}/spaces/{key}]    
### Deleting a space from a portfolio [DELETE]

Note:

* To remove a space from a portfolio you will need to use the key provided for the space from portfolios/{portfolio_key}/spaces

+ Request (application/json)

        https://www.realmassive.com/api/v1/portfolios/id/spaces/key

+ Response 200 (application/json)

        {
            "message": ""
        }
        
##  History of Portfolio Spaces [/portfolios/{id}/spaces/{key}?history={building|lease_term|description|title|expiration_date|rate_units|floor_number|availability_date|rate|space_available_units|office_finish_percentage|ti|space_available|space_type|unit_number}]    
### Changes can be made to a portfolio space allowing collaboration, to get the history of the changes use this request [GET]

Note:

* To view the history of a portfolio space, you will need to use the key provided for the space from portfolios/{portfolio_key}/spaces

+ Parameters


    
    + building (string)
    + lease_term (string)
    + description (string)
    + title (string)
    + expiration_date (string)
    + rate_units (string)
    + floor_number (string)
    + availability_date (string)
    + rate (string)
    + space_available_units (string)
    + office_finish_percentage (string)
    + ti (string)
    + space_available (string)
    + space_type (string)
    + unit_number (string)


+ Request (application/json)

        https://www.realmassive.com/api/v1/portfolios/{id}/spaces/{key}?history=space_available

+ Response 200 (application/json)

        {
            "building": null,
            "lease_term": [],
            "description": [],
            "title": [],
            "expiration_date": [],
            "rate_units": [],
            "floor_number": [],
            "availability_date": [],
            "rate": [],
            "space_available_units": [],
            "office_finish_percentage": [],
            "ti": [],
            "space_available": [
                {
                    "edited_at": "2014-10-14T15:45:26.547080+00:00",
                    "editor": "",
                    "value": "1500"
                },
                {
                    "edited_at": "2014-10-14T16:06:24.111670+00:00",
                    "editor": "John Doe",
                    "value": "1600"
                }
            ],
            "space_type": [],
            "unit_number": []
        }

##  Portfolio Space Notifications [/portfolios/{id}/spaces/{key}/notifications]    
### When a space is collaborated upon, a notification is sent to the other viewers of the portfolio to inform them something has changed [GET]

Note:

* To view the notifications of a portfolio space, you will need to use the key provided for the space from portfolios/{portfolio_key}/spaces

+ Request (application/json)

        https://www.realmassive.com/api/v1/portfolios/{id}/spaces/{key}/notifications

+ Response 200 (application/json)

        []

### This request is to delete all of the notifications for a user [DELETE]

Note:

* To view the notifications of a portfolio space, you will need to use the key provided for the space from portfolios/{portfolio_key}/spaces

+ Request (application/json)

        https://www.realmassive.com/api/v1/portfolios/{id}/spaces/{key}/notifications

+ Response 200 (application/json)

##  Portfolio Collaborators [/portfolios/{id}/collaborators]    
### Fetch all of the collaborators on a given portfolio [GET]

+ Request (application/json)

        https://www.realmassive.com/api/v1/portfolios/{id}/collaborators

+ Response 200 (application/json)
           
        {
            "agents": [
                {
                    "first_name": "John",
                    "last_name": "Doe",
                    "title": "developer",
                    "photo": "https://pictures.com/pic",
                    "company": "RealMassive",
                    "master_key": "ahJzfnJlQ2xtYXNzaXZlLXByb2RyEQsSBBVzZ16CgICAgMy0lFoM",
                    "is_premium": true,
                    "id": "572366123456096"
                }
            ],
            "viewers": []
        }

### Adding a collaborator to a portfolio [POST]

Note:

* set the permissions for a user using the 'write' property, to allow them to be a collaborate use 'write'
* Make sure the body is url encoded
* Content-Length may be required, if so, use the length of "Body"

+ Request (application/json)

        https://www.realmassive.com/api/v1/portfolios/{id}/collaborators
        
    + Body

            email=johndoe@realmassive.com
            write=write



+ Response 200 (application/json)
           
        {
            "agents": [
                {
                    "first_name": "John",
                    "last_name": "Doe",
                    "title": "developer",
                    "photo": "https://pictures.com/pic",
                    "company": "RealMassive",
                    "master_key": "ahJzfnJlQ2xtYXNzaXZlLXByb2RyEQsSBBVzZ16CgICAgMy0lFoM",
                    "is_premium": true,
                    "id": "572366123456096"
                }
            ],
            "viewers": []
        }

## Group Users

The **User API** is used for logging into a preexisting “manually registered” RealMassive user. Logging in allows you to obtaining access to a users contact information, surveys, and organizations.

Note: Creation of a RealMassive user is in development and will be documented upon completion.

## User Attributes
# Read only
* **edited_at**
* **created_at**
* **first_name**
* **last_name**
* **preferences**
* **login_count**
* **is_premium**
* **last_login**
* **key**
* **permissions**
* **auth_providers**
* **id**
* **organizations**
* **available_positions**

# Editable
* **email**
* **secondary_email**
* **photo**
* **title**
* **company**
* **phone**

## User Authentication [/auth]
### Logging into a preexisting, manually registered user [POST]

Required Headers:

* **Content-Type:** application/x-www-form-urlencoded

Required Body:

* **Body:** email=johndoe@realmassive.com&password=123

Note:

* Make sure the body is url encoded
* Content-Length may be required, if so, use the length of "Body"

+ Request

        https://www.realmassive.com/auth
        
    + Headers

            Content-Type: application/x-www-form-urlencoded

    + Body

            email=johndoe@realmassive.com&password=123

+ Response 200 (application/json)

        {
            "login_success" = 1,
            "redirect_to" = "/",
        }
        
## Fetch Current User [/api/v1/users/current]
### Accessing user information [GET]

+ Request (application/json)

        https://www.realmassive.com/api/v1/users/current

+ Response 200 (application/json)

        {
        "edited_at": "2014-10-07T21:26:23.997860+00:00",
        "created_at": "2014-10-06T18:55:14.239740+00:00",
        "first_name": "John",
        "last_name": "Doe",
        "preferences": "",
        "title": "Developer",
        "secondary_email": "",
        "photo": "https://s3.amazonaws.com/ksr/assets/000/493/960/3713cce70e04338e0ced4f4f7d46e73d_large.jpg?1365139395",
        "company": "RealMassive",
        "login_count": "",
        "email": "johndoe@realmassive.com",
        "is_premium": false,
        "phone": "5128675309",
        "last_login": "",
        "key": "abcdefghijklmnopqrstuvwxyx1234567890abcdefghijklmnop",
        "permissions": [
            "Write",
            "Read",
            "Delete"
        ],
        "auth_providers": [
            "email"
        ],
        "id": "1234567890987654",
        "organizations": [
            "abcdefghijklmnopqrstuvwxyx1234567890abcdefghijklmnopqrstuvwxyx1"
        ],
        "available_positions": []
        }
        
        
## Group Version

The **Version** call is used to determine which verison of the RealMassive webapp and API are serving.

## Version Attributes
# Read only
* **last_commit_time**
* **commit_hash**
* **version_string**

## Version [/version]
### Accessing version information [GET]

+ Request (application/json)

        https://www.realmassive.com/api/v1/version

+ Response 200 (application/json)

        {
            "last_commit_time": "Thu Oct 9 11:50:33 2014 -0500",
            "commit_hash": "16c4e17634d7546e1499b073fcb0b4514fd8cf14",
            "version_str": "4.1-43-g16c4e17"
        }


## Group HTTP Transport Details
### Request Headers
Several specific HTTP request headers are used as described in the following table:

| Header  | Supported Values  | Description | Required? | 
|---|---|---|---|
| Accept  | Comma-delimited list of media types or media type patterns.  | Indicates to the server what media type(s) this client is prepared to accept.  | Recommended, on requests that will produce a response message body.  |
| Authorization | "Basic " plus username and password (per RFC 2617).  | Identifies the authorized user making this request.  | Yes, on all requests not using OAuth.  |

### Response Headers
API calls are rate limited. Read the response headers to determine how many calls you have left for a given time period

| Response Header | Meaning |
| --------------- | ------- |
| cache-control | We cache agressively for best performance |
| content-encoding | We gzip most responses for reduced payload size |
| content-type | The format of the data we're returning, usually, "application/json" |
| status | See the Standard HTTP Status Codes below |
| x-ratelimit-limit | You starting rate limit for this time period|
| x-ratelimit-remaining | How many API calls left you have this rate period. |


### Standard HTTP Status Codes
API calls will return standard HTTP response codes as described in the following table, under the conditions listed in the description.

| HTTP Status | Description |
|---|---|
| 200 OK | The request was successfully completed. |
| 400 Bad Request | The request could not be processed because it contains missing or invalid information (such as validation error on an input field, a missing required value, and so on). |
| 401 Unauthorized | The authentication credentials included with this request are missing or invalid. |
| 403 Forbidden | The server recognized your credentials, but you do not possess authorization to perform this request. |
| 404 Not Found | The request specified a URI of a resource that does not exist.|
| 405 Method Not Allowed | The HTTP verb specified in the request (DELETE, GET, HEAD, POST, PUT) is not supported for this request URI. |
| 406 Not Acceptable | The resource identified by this request is not capable of generating a representation corresponding to one of the media types in the Accept header of the request.
| 500 Internal Server Error | The server encountered an unexpected condition which prevented it from fulfilling the request. |
| 501 Not Implemented | The server does not (currently) support the functionality required to fulfill the request. |
| 503 Service Unavailable | The server is currently unable to handle the request due to temporary overloading or maintenance of the server.|

### Error Response Message Bodies
#### Introduction
Successful requests will generally return an HTTP status code of 200 (OK), 201 (Created), or 204 (No Content), to indicate that 
the requested action has been successfully performed. In addition, they might include a response message body (with an appropriate media type)
containing a representation of the requested information. However, it is possible for a number of things to go wrong. The various underlying
causes are described (as discussed in the previous section) by various HTTP status codes in the range 400-499 (for client side errors)
or 500-599 (for server side problems). The description of each request type should list the possible status codes returned by that request type.
If a response is returned with an error status code (400-499 or 500-599), the server should also return a response message body containing
a messages data model, containing zero or more message data models, describing what went wrong. The text values of such messages might be used,
for example, to communicate with a human user of the client side application.


