FORMAT: 1A
HOST: https://www.realmassive.com

# RealMassive API — The first API for real-time commercial real estate information

The RealMassive API gives you access to the marketing information in our nationwide database of commercial real estate listings. Here are just a few benefits of the RealMassive API:
  * Quickly search for and retrieve availability information from our nationwide database of commercial real estate listings
  * Create, share, and manage your market surveys
  * Create, share, and manage your own availability listings
 
## Quickstart

The RealMassive API is a RESTful API that communicates overs the HTTP protocol. Here's what you need to know to get started quickly:
  * **https://www.realmassive.com/api/v1** is the root endpoint.
  * You need an API token to make API calls. Apply for one in our [Developer's Area]().
  * Use simple authorization (email/password) and/or your API token for API call authorization.
  * Consider using something like [Postman](https://chrome.google.com/webstore/detail/postman-rest-client-packa/fhbjgbiflinjbdggehcddcbncdddomop?hl=en) to easily test the live server

| API Call | Meaning |
| -------- | ------- |
| GET /api/v1/spaces/:id | Get space identified by uinque ID, *:id* |
| GET /api/v1/buildings/:id | Get building identified by uinque ID, *:id* |
| GET /api/v1/markets| Get a list of all markets |
| GET /api/v1/markets/geo?latitude=30&longitude=-97 | Find markets near (30,-97) (central Texas) |
| GET /api/v1/spaces/search?building.address.city=Austin&building.address.state=TX| Find all spaces in Austin, TX |

### Resources
A resource is a network-accessible data object or service accessed by a URI. A collection is a set of resources. Resources are presented as nouns,
nouns that hopefully that make sense to the API consumer. Services—special resources that perform actions on other resources— are exposed as verbs.
Services attached to resources operate specifically on that resource. All resources are returned in JSON, unless other formats are specifically
requested. Relations are used to specialize the results of a resource. For example, /markets/market-id/submarkets would return the Submarkets for
the specific Market identified by its market-id value.

All requests must be properly URL encoded, including parameters and values.

#### URI Space
The following resources are exposed and accessible via resource URIs.

| Resource | URI | Notes |
|---|---|---|
| Building | /building | Represents physical buildings in our database. |
| Market | /market | Represents the markets in which we operate. |
| Organization | /organization | Represents Users' organizations. |
| Portfolio | /portfolio | Represents a collection of spaces. |
| Space | /space | Represents and available Space for lease. |
| User | /user | Represents Users on our system. |


## Group Buildings

**Buildings** represent physical buildings. A building can have one or more spaces
associated with it. Each building has the following attributes and more
fields may be added.

## Building Attributes
 * **ac** - whether or not the building has air conditioning
 * **address** - structured address with the following format. See [Address].
 * **attachments** - a list of media attachments. See [Attachments].
 * **building_class** - a subjective rating of quality specified as 'A', 'B', or 'C' where 'A' is highest quality and 'C' is lowest.
 * **building_parking_ratio** - number of available parking spots, usually per thousand square feet
 * **clear_height** - used in industrial space, the actual height from steel girders to the interior of the building.
 * **cover** - 
 * **created_at** - datetime
 * **created_by** - database key pointing to the original author
 * **edited_at** - datetime
 * **id** - this record's unique identifier
 * **key** - 
 * **leed** - LEED rating: None, Certified, Gold, Silver, Platinum
 * **lot_size** - 
 * **lot_size_units** - units in which lot size is reported. Currently, square feet: 'SF'
 * **manager** - database key pointing to the contact for this building's manager
 * **notification_email** - database key pointing to this building's representative(s)
 * **operating_expenses** - operating expenses for this building.
 * **parking_rate** - Parking rate ($) per space.
 * **promoted_spaces** - List of promoted spaces in this building.
 * **property_owner** - database key pointing to this building's owner
 * **reserved** - 
 * **size** - building size in units listed below
 * **size_units** - units in which the building size is reported
 * **space_keys** - a list of database keys pointing to the spaces inside this building.
 * **sprinkler** - whether or not this building has sprinklers
 * **submarket** - the submarket in which this building resides
 * **title** - building's title
 * **type** - lease, sublease, for sale
 * **year_built**
 
## Fetch a Building by id [/api/v1/buildings/{?id}]

### Example: Fetch a building by its ID [GET]

Use this to retrieve a building by its unique id.

+ Parameters
    + id (required, integer) ... the unique ID for this building

+ Request

        https://www.realmassive.com/api/v1/buildings/5708540228403200

+ Response 200 (application/json)

        {
          "edited_at": "2014-12-18T17:35:52.068600+00:00",
          "ac": "",
          "reserved": "",
          "attachments": [],
          "lot_size_units": "",
          "manager": "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgIDE1rmFCgw",
          "clear_height": "",
          "size_units": "SF",
          "submarket": "",
          "notification_email": "",
          "id": "5708540228403200",
          "market": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEwsSBk1hcmtldBiAgIDQ2YrWCAw",
          "size": "506",
          "sprinkler": "",
          "title": "11650 Iberia Pl.",
          "building_class": "",
          "created_by": {
            "first_name": "RealMassive",
            "last_name": "San Diego",
            "title": "",
            "photo": "/static/img/default_profile.jpg",
            "company": "RealMassive",
            "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA8LGlngoM",
            "is_premium": false,
            "id": ""
          },
          "property_owner": "",
          "leed": "",
          "space_keys": [
            "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMTwhtUJDA"
          ],
          "type": "Office",
          "operating_expenses": "0.0",
          "parking_rate": "",
          "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMSx_JEKDA",
          "address": {
            "city": "San Diego",
            "state": "CA",
            "street": "11650 Iberia Place",
            "geo": {
              "latitude": "33.0159612",
              "longitude": "-117.0774562"
            },
            "zipcode": "92128"
          },
          "location_url": "/us/ca/san-diego/11650-iberia-pl/5708540228403200",
          "permissions": [
            "Create",
            "Read"
          ],
          "promoted_spaces": "",
          "year_built": "",
          "created_at": "2014-12-17T04:26:38.691162+00:00",
          "cover": null,
          "lot_size": "",
          "building_parking_ratio": ""
        }


## Fetch all Buildings [/api/v1/buildings{?limit,cursor}]
Use this to retrieve a list of all buildings in the RealMassive Database. 
### Notes
  * This query is not optimized for speed, it is optimized for sifting through the entire Building Collection. For speedy searches use Building Search.
  * Results are batched (default batch size is 70).
  * Rerun the query with the cursor provided in the results to receive the next batch.
  * You may adjust your limit size on the query by passing the optional limit paramter.

### Fetch all Buildings [GET]

+ Parameters
    + limit = `70` (optional, integer) ... Number of results to return in this batch
    + cursor (optional, cursor) ... Provide the cursor to continue to your next batch of results

+ Request

        https://www.realmassive.com/api/v1/buildings?limit=3

+ Response 200 (application/json)

        {
          "cursor": "False:Cq...DA",
          "results": [
            {
              "edited_at": "2014-12-18T17:35:52.068600+00:00",
              "ac": "",
              "reserved": "",
              "attachments": [],
              "lot_size_units": "",
              "manager": "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgIDE1rmFCgw",
              "clear_height": "",
              "size_units": "SF",
              "submarket": "",
              "notification_email": "",
              "id": "5708540228403200",
              "market": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEwsSBk1hcmtldBiAgIDQ2YrWCAw",
              "size": "506",
              "sprinkler": "",
              "title": "11650 Iberia Pl.",
              "building_class": "",
              "created_by": {
                "first_name": "RealMassive",
                "last_name": "San Diego",
                "title": "",
                "photo": "/static/img/default_profile.jpg",
                "company": "RealMassive",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA8LGlngoM",
                "is_premium": false,
                "id": ""
              },
              "property_owner": "",
              "leed": "",
              "space_keys": [
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMTwhtUJDA"
              ],
              "type": "Office",
              "operating_expenses": "0.0",
              "parking_rate": "",
              "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMSx_JEKDA",
              "address": {
                "city": "San Diego",
                "state": "CA",
                "street": "11650 Iberia Place",
                "geo": {
                  "latitude": "33.0159612",
                  "longitude": "-117.0774562"
                },
                "zipcode": "92128"
              },
              "location_url": "/us/ca/san-diego/11650-iberia-pl/5708540228403200",
              "promoted_spaces": "",
              "year_built": "",
              "created_at": "2014-12-17T04:26:38.691162+00:00",
              "cover": null,
              "lot_size": "",
              "building_parking_ratio": ""
            },
            {
              "edited_at": "2014-12-18T17:24:18.948340+00:00",
              "ac": "",
              "reserved": "",
              "attachments": [
                {
                  "category": "exterior",
                  "gs_path": "/gs/realmassive-production-images/us-ca-san-diego-old-town-professional-building-6248629144649728-1418790866.jpe",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-ca-san-diego-old-town-professional-building-6248629144649728-1418790866.jpe",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMSF44wLDA",
                  "title": "",
                  "url": "https://lh6.ggpht.com/V9MfJPirI_TJI9VaLnM4Av9g2gnM9FjtWCe52XeTnTXScMLMaUnqxOJR8GOIg5CQ-fqmsPupGRDZduid89yY3ZOzhdw_pmM",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA8LGlngoM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgITplucKDA",
                  "preview_info": null,
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                }
              ],
              "lot_size_units": "",
              "manager": "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgIDE1rmFCgw",
              "clear_height": "",
              "size_units": "SF",
              "submarket": "",
              "notification_email": "",
              "id": "6248629144649728",
              "market": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEwsSBk1hcmtldBiAgIDQ2YrWCAw",
              "size": "2277",
              "sprinkler": "",
              "title": "Old Town Professional Building",
              "building_class": "A",
              "created_by": {
                "first_name": "RealMassive",
                "last_name": "San Diego",
                "title": "",
                "photo": "/static/img/default_profile.jpg",
                "company": "RealMassive",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA8LGlngoM",
                "is_premium": false,
                "id": ""
              },
              "property_owner": "",
              "leed": "",
              "space_keys": [
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMThjNcKDA",
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMSx25ULDA"
              ],
              "type": "Office",
              "operating_expenses": "0.0",
              "parking_rate": "",
              "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMSF44wLDA",
              "address": {
                "city": "San Diego",
                "state": "CA",
                "street": "2356 Moore Street",
                "geo": {
                  "latitude": "32.749156",
                  "longitude": "-117.194165"
                },
                "zipcode": "92110"
              },
              "location_url": "/us/ca/san-diego/old-town-professional-building/6248629144649728",
              "promoted_spaces": "",
              "year_built": "",
              "created_at": "2014-12-17T04:28:44.789921+00:00",
              "cover": {
                "category": "exterior",
                "gs_path": "/gs/realmassive-production-images/us-ca-san-diego-old-town-professional-building-6248629144649728-1418790866.jpe",
                "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-ca-san-diego-old-town-professional-building-6248629144649728-1418790866.jpe",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMSF44wLDA",
                "title": "",
                "url": "https://lh6.ggpht.com/V9MfJPirI_TJI9VaLnM4Av9g2gnM9FjtWCe52XeTnTXScMLMaUnqxOJR8GOIg5CQ-fqmsPupGRDZduid89yY3ZOzhdw_pmM",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA8LGlngoM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgITplucKDA",
                "preview_info": null,
                "youtube_id": "",
                "id": "",
                "is_video": "",
                "approved": true
              },
              "lot_size": "",
              "building_parking_ratio": ""
            },
            {
              "edited_at": "2014-12-18T17:21:38.539680+00:00",
              "ac": "",
              "reserved": "",
              "attachments": [
                {
                  "category": "exterior",
                  "gs_path": "/gs/realmassive-production-images/us-ca-san-diego-8925-carroll-way-5172494218559488-1418923223.png",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-ca-san-diego-8925-carroll-way-5172494218559488-1418923223.png",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMSyi5gJDA",
                  "title": "",
                  "url": "https://lh4.ggpht.com/XwZOFvnhybwZgXKErrJJBpWzI-G_jVrw25J09KoK6oNtn0C7WU1T2blGtXQVrLCtmp-vk59q49jII3cfebkUDjCvRzDndL8",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA8LGlngoM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgKSY6c4JDA",
                  "preview_info": null,
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                }
              ],
              "lot_size_units": "",
              "manager": "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgIDE1rmFCgw",
              "clear_height": "",
              "size_units": "SF",
              "submarket": "",
              "notification_email": "",
              "id": "5172494218559488",
              "market": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEwsSBk1hcmtldBiAgIDQ2YrWCAw",
              "size": "21500",
              "sprinkler": "",
              "title": "8925 Carroll Way",
              "building_class": "",
              "created_by": {
                "first_name": "RealMassive",
                "last_name": "San Diego",
                "title": "",
                "photo": "/static/img/default_profile.jpg",
                "company": "RealMassive",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA8LGlngoM",
                "is_premium": false,
                "id": ""
              },
              "property_owner": "",
              "leed": "",
              "space_keys": [
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMTHqZYLDA"
              ],
              "type": "Office",
              "operating_expenses": "0.0",
              "parking_rate": "",
              "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMSyi5gJDA",
              "address": {
                "city": "San Diego",
                "state": "CA",
                "street": "8925 Carroll Road",
                "geo": {
                  "latitude": "32.8820686",
                  "longitude": "-117.1562406"
                },
                "zipcode": "92126"
              },
              "location_url": "/us/ca/san-diego/8925-carroll-way/5172494218559488",
              "promoted_spaces": "",
              "year_built": "",
              "created_at": "2014-12-17T04:28:58.359914+00:00",
              "cover": {
                "category": "exterior",
                "gs_path": "/gs/realmassive-production-images/us-ca-san-diego-8925-carroll-way-5172494218559488-1418923223.png",
                "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-ca-san-diego-8925-carroll-way-5172494218559488-1418923223.png",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMSyi5gJDA",
                "title": "",
                "url": "https://lh4.ggpht.com/XwZOFvnhybwZgXKErrJJBpWzI-G_jVrw25J09KoK6oNtn0C7WU1T2blGtXQVrLCtmp-vk59q49jII3cfebkUDjCvRzDndL8",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICA8LGlngoM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgKSY6c4JDA",
                "preview_info": null,
                "youtube_id": "",
                "id": "",
                "is_video": "",
                "approved": true
              },
              "lot_size": "",
              "building_parking_ratio": ""
            }
          ],
          "number_found": 10100
        }

## Building Search [/api/v1/buildings/search{?address%2Eaddress,address%2Ecity,address%2Efull_state,address%2Egeo,address%2Egeo%2Elatitude,address%2Egeo%2Elongitude,address%2Estate,address%2Estreet,address%2Ezipcode,building_class,building_parking_ratio,cover%2Eraw_url,created_at,created_by%2Emaster_key,created_by%2Eis_premium,created_by%2Elast_name,created_by%2Efirst_name,key,location_url,lot_size,manager%2Eadmins%2Ecreated_at,manager%2Eadmins%2Eedited_at,manager%2Eadmins%2Efirst_name,manager%2Eadmins%2Eis_premium,manager%2Eadmins%2Elast_name,manager%2Eadmins%2Ephoto,manager%2Ekey,manager%2Emembers%2Ecreated_at,manager%2Emembers%2Eedited_at,manager%2Emembers%2Efirst_name,manager%2Emembers%2Eis_premium,manager%2Emembers%2Elast_name,manager%2Emembers%2Ephoto,manager%2Ename,manager%2Eowner%2Ecreated_at,manager%2Eowner%2Eedited_at,manager%2Eowner%2Efirst_name,manager%2Eowner%2Eis_premium,manager%2Eowner%2Elast_name,manager%2Eowner%2Ephoto,market,operating_expenses,real_score_val,size,space_keys,submarket,title,type,limit}]
### Notes
Building search is very flexible. Right now there are too many parameters for Apiary to parse. Please click
"Switch to Console" to see them all.

### Search for a Building [GET]

+ Parameters
    + address%2Eaddress (optional, string) ... The full building address
    + address%2Ecity (optional, string) ... The building's city
    + address%2Efull_state (optional, string) ...The building's state; currently only in the United States
    + address%2Egeo (optional, string) ... The building's geolocation
    + address%2Egeo%2Elatitude (optional, string) ... The building's latitude
    + address%2Egeo%2Elongitude (optional, string) ... The building's longitude
    + address%2Estate (optional, string) ...The building's state
    + address%2Estreet (optional, string) ... The building's  street name
    + address%2Ezipcode (optional, string) ... The building's  zipcode
    + building_class (optional, string) ... The building's class
        + Values
            + `A`
            + `B`
            + `C`
    + building_parking_ratio (optional, float) ... Minimum parking ratio in spaces per thousand SF
    + cover%2Eraw_url (optional, string) ... Building's cover image's URL
    + created_at (optional, string) ... 
    + created_by%2Emaster_key (optional, string) ... Building's creator's master record key
    + created_by%2Eis_premium (optional, string) ... Building's creator's premium status
    + created_by%2Elast_name (optional, string) ...  Building's creator's last name
    + created_by%2Efirst_name (optional, string) ... Building's creator's first name
    + key (optional, string) ... Building's database key
    + location_url (optional, string) ... SEO-optimized URL for this building
    + lot_size (optional, string) ... 
    + manager%2Eadmins%2Ecreated_at (optional, string) ... 
    + manager%2Eadmins%2Eedited_at (optional, string) ... 
    + manager%2Eadmins%2Efirst_name (optional, string) ... 
    + manager%2Eadmins%2Eis_premium (optional, string) ... 
    + manager%2Eadmins%2Elast_name (optional, string) ... 
    + manager%2Eadmins%2Ephoto (optional, string) ... 
    + manager%2Ekey (optional, string) ... 
    + manager%2Emembers%2Ecreated_at (optional, string) ... 
    + manager%2Emembers%2Eedited_at (optional, string) ... 
    + manager%2Emembers%2Efirst_name (optional, string) ... 
    + manager%2Emembers%2Eis_premium (optional, string) ... 
    + manager%2Emembers%2Elast_name (optional, string) ... 
    + manager%2Emembers%2Ephoto (optional, string) ... 
    + manager%2Ename (optional, string) ... This building's manager's name
    + manager%2Eowner%2Ecreated_at (optional, string) ...  This building's owner's created at date
    + manager%2Eowner%2Eedited_at (optional, string) ...  This building's owner's edited at date
    + manager%2Eowner%2Efirst_name (optional, string) ...  This building's owner's first name
    + manager%2Eowner%2Eis_premium (optional, string) ...  This building's owner's premium status
    + manager%2Eowner%2Elast_name (optional, string) ...  This building's owner's last name
    + manager%2Eowner%2Ephoto (optional, string) ... This building's owner's photo
    + market (optional, string) ... The market in which this building resides
    + operating_expenses (optional, string) ... This building's operating expenses (OPEX)
    + real_score_val (optional, string) ... This building's RealScore value
    + size (optional, string) ... The building size
    + space_keys (optional, string) ... The keys for the spaces inside this building
    + submarket (optional, string) ... The building's submarket
    + title (optional, string) ... The building's title
    + type (optional, string) ... 
        + Values
            + `office`
            + `retail`
            + `indsutrial`
            + `flex space`
            + `medical office`
    + limit =`10` (optional,integer) ... limit of results length

+ Request (application/json)

        https://www.realmassive.com/api/v1/buildings/search?address.city=Austin&limit=2

+ Response 200 (application/json)

        {
          "cursor": "False:Cr...IM",
          "results": [
            {
              "title": "718 Congress",
              "created_at": "2014-09-09T15:38:03.812000",
              "address": {
                "city": "Austin",
                "zipcode": "78701",
                "state": "TX",
                "street": "718 Congress Avenue",
                "address": "718 Congress Avenue Austin TX 78701",
                "full_state": "Texas",
                "geo": {
                  "latitude": 30.269787,
                  "longitude": -97.742637
                }
              },
              "cover": {
                "raw_url": "https://lh4.ggpht.com/3h4ibCG2UZHF1-G89n2yfRbXMOgZ2sakc7oJNmJOFuGoLKxu4jjGYOWE3rbxIAq9jHinfjVMlIlf1odd67huWIBXhGAw"
              },
              "real_score_val": 100,
              "created_by": {
                "is_premium": "1",
                "first_name": "Angela",
                "last_name": "Franz",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM"
              },
              "manager": {
                "owner": {
                  "edited_at": "2014-12-17T15:34:43.053000",
                  "first_name": "Landree",
                  "last_name": "Dillinger",
                  "photo": "https://media.licdn.com/mpr/mprx/0_--L8rlg2ybptgPF116FmPrDhyb--UqI111UD9K_Gt1PA0zMglGkuNs5-ZFT",
                  "created_at": "2014-04-16T16:44:40.476000",
                  "is_premium": "0"
                },
                "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgICAg4TNCQw",
                "admins": {
                  "edited_at": "2014-12-17T15:34:43.053000",
                  "first_name": "Matthew",
                  "last_name": "Salois",
                  "photo": "https://lh3.ggpht.com/74zzu4k7UYxiyqIbcrOrUutihHjCYfGIwtCyVvJusQG7Dgrx-sOogRf6zztLzAgcL5Cts5n9kUeOQ5L7J1u9c5AyFw1bris",
                  "created_at": "2014-04-18T18:16:10.676000",
                  "is_premium": "0"
                },
                "name": "ECR",
                "members": {
                  "edited_at": "2014-12-17T15:34:43.053000",
                  "first_name": "Haley",
                  "last_name": "Berry",
                  "photo": "/static/img/default_profile.jpg",
                  "created_at": "2014-05-20T16:48:40.985000",
                  "is_premium": "0"
                }
              },
              "location_url": "/us/tx/austin/718-congress/5671705842286592",
              "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgOCuzIkKDA",
              "submarket": "Central Business District",
              "space_keys": [
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgODXgpQKDA"
              ],
              "type": "Office",
              "market": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEwsSBk1hcmtldBiAgICQgoSOCww",
              "size": 7246
            },
            {
              "title": "9410 Reid",
              "building_class": "B",
              "cover": {
                "raw_url": "https://lh4.ggpht.com/i1rynZb6SRbAJbDYAoQJ25HKzTm_WkiLR0Hqw8s306uCZmY6O5KMenY4c_-gId7CnAkDIqqmbjHqkxW2MpVpkTMtYZJ7VQ"
              },
              "real_score_val": 0,
              "created_by": {
                "is_premium": "1",
                "first_name": "Christy",
                "last_name": "Hightower",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgKi_ogsM"
              },
              "manager": {
                "owner": {
                  "edited_at": "2014-12-17T15:34:31.952000",
                  "photo": "https://media.licdn.com/mpr/mprx/0_YkBR4zQm_tB7JVY2jqBzUNI85ALf0p-2pbdnONVuSXku4j8CYN9cy-ePG0X",
                  "first_name": "Christy",
                  "last_name": "Hightower",
                  "is_premium": "1"
                },
                "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgICAptqDCAw",
                "admins": {
                  "edited_at": "2014-12-17T15:34:31.952000",
                  "first_name": "Mark",
                  "last_name": "Hernandez",
                  "photo": "/static/img/default_profile.jpg",
                  "created_at": "2014-05-21T20:53:19.899000",
                  "is_premium": "0"
                },
                "name": "HPI Real Estate",
                "members": {
                  "edited_at": "2014-12-17T15:34:31.952000",
                  "first_name": "Dick",
                  "last_name": "Anderson",
                  "photo": "http://m.c.lnkd.licdn.com/mpr/mprx/0_u1nHT0CACJXE0yAn2AlUTgbmCj-Ej0KnmlCBTyklgU6sGUb9hzQXfprxurtvY4lsSrN9mRVJn7Gr",
                  "created_at": "2014-05-07T21:05:42.935000",
                  "is_premium": "0"
                }
              },
              "location_url": "/us/tx/austin/9410-reid/5660160231997440",
              "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgICs_IYKDA",
              "submarket": "North",
              "address": {
                "city": "Austin",
                "zipcode": "78758",
                "state": "TX",
                "street": "9410 Reid Drive",
                "address": "9410 Reid Drive Austin TX 78758",
                "full_state": "Texas",
                "geo": {
                  "latitude": 30.379863,
                  "longitude": -97.727369
                }
              },
              "space_keys": [
                "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmi_4IDA"
              ],
              "type": "Industrial",
              "operating_expenses": 0.09,
              "market": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEwsSBk1hcmtldBiAgICQgoSOCww",
              "size": 5000
            }
          ],
          "number_found": 829
        }
        
+ Response 400 (application/json)

        {"error": "Wrong address parameters."}

# Group Spaces
## Fetch Spaces by id [/api/v1/spaces/{id}]
### Fetch a space by id [GET]

+ Parameters

    + id (string) ... unique id

+ Request (application/json)

        https://www.realmassive.com/api/v1/spaces/ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMC83NcIDA

+ Response 200 (application/json)

        {
          "edited_at": "2014-07-08T05:00:46.457930+00:00",
          "attachments": [
            {
              "category": "floor_plan",
              "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMC83NcIDA",
              "title": "",
              "url": "https://lh5.ggpht.com/wV4K55YFxVVUNr2xjfynr3--kKtEvkt5WiUE6IfwbPyme1oIEKqh_436LgEe1gw6f30A_kCq_p74Y6rmBUswC-EA-IYJ",
              "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
              "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDeupILDA",
              "id": "",
              "youtube_id": "",
              "is_video": "",
              "approved": true
            }
          ],
          "short_url": "http://real.ma/UbzgxX",
          "rate": "24.0",
          "notification_email": "",
          "id": "4889407010111488",
          "lease_term": "",
          "portfolio_space_keys": [
            "ahJzfnJlYWxtYXNzaXZlLXByb2RyMQsSCVBvcnRmb2xpbxiAgICg0I2YCQwLEg5Qb3J0Zm9saW9TcGFjZRiAgICAgICACgw",
            "ahJzfnJlYWxtYXNzaXZlLXByb2RyMQsSCVBvcnRmb2xpbxiAgICAn7D3CgwLEg5Qb3J0Zm9saW9TcGFjZRiAgICAgMOVCgw",
            "ahJzfnJlYWxtYXNzaXZlLXByb2RyMQsSCVBvcnRmb2xpbxiAgIDA8anHCAwLEg5Qb3J0Zm9saW9TcGFjZRiAgICAgPKICgw"
          ],
          "is_promoted": false,
          "title": "823 Congress, Suite 225",
          "editors": [],
          "created_by": {
            "first_name": "Lesley",
            "last_name": "Sanchez",
            "title": "Director of Marketing",
            "photo": "https://media.licdn.com/mpr/mprx/0_i-QzCdYSkEPnMR3UbGXRkHpDCEu9RZSUbC4ZkHh_fODzxM0zLGFJ6mQWIGb",
            "company": "Peloton Commercial Real Estate",
            "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
            "is_premium": false,
            "id": ""
          },
          "space_available_units": "SF",
          "ti": "",
          "space_available": "794",
          "unit_number": "225",
          "analysts": [],
          "status": "Public",
          "edited_by": {
            "first_name": "Lesley",
            "last_name": "Sanchez",
            "title": "Director of Marketing",
            "photo": "https://media.licdn.com/mpr/mprx/0_i-QzCdYSkEPnMR3UbGXRkHpDCEu9RZSUbC4ZkHh_fODzxM0zLGFJ6mQWIGb",
            "company": "Peloton Commercial Real Estate",
            "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
            "is_premium": false,
            "id": ""
          },
          "description": "Rising 16 stories, 823 Congress features a cozy lobby with polished granite floors with African Mahogany detail. \n\nOne McQuay (425-ton), one Carrier (425-ton) and one York (180-ton) chiller are located in the basement. The McQuay was installed new in 2007. A Marley cooling tower is located on the roof of the third level and was upgraded in 2007. An Alerton energy management system located in the basement controls the HVAC equipment\n\nFour Dover gearless traction passenger elevators serve the building, The elevators were modernized in 1998 and the cabs were upgraded in 2007.\n\n220 spaces, 196 spaces in the six-level parking garage; 24 surface spaces under ground lease\n\nElectric, water, sewer - City of Austin\nNatural gas - Texas Gas Service\nTelephone - SBC\nFiber - SBC, Time Warner\n\nLocated at the intersections of 9th Street and Congress Avenue, 823 Congress resides in the heart of Austin’s widely popular Central Business District. Boasting numerous popular restaurant and night life destinations, a wide range of retail, Whole Foods’ flagship grocery, the highest concentration of downtown residential units and immediate access to Austin’s downtown hike and bike trail network, Downtown Austin represents Austin’s most complete mixed-use district where people can truly work, live and play.\n\nOver 2,000 residential apartments and condominiums are located within a 10 block radius of 823 Congress, of which over 1,400 units have been completed since 2008.\n\nMore than 2.2 million square feet of new office, retail, residential, and hotel space has been added to the downtown landscape over the past few years.",
          "rate_units": "",
          "availability_date": "",
          "floor_number": "",
          "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgMC83NcIDA",
          "permissions": [
            "Create",
            "Read"
          ],
          "building": {
            "ac": "",
            "reserved": "",
            "attachments": [
              {
                "category": "exterior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh6.ggpht.com/IFbCXIBvr0CNI6-8Q3muGWidCPko3eTw3GhEIxpV7YPxUJoXHlptwMz5kYKtCE6Cty6x3DX4kwPRzLX2F5hGUlPrK87N",
                "uploaded_by": "",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDyxtMJDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "exterior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh5.ggpht.com/ppyRsHGp5tz5_Jou3vBpC9tsd44TywYlctmMW_DVXviXK9_LkfI6wRJFPwJIIXKlJQo7S7MiExQSUyoP8Stndt2xOIjPqA",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCAoN0IDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "interior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh6.ggpht.com/tFpVtPZnTfsXVn_1sZgkDPx6oE1uD4mJHwmEKf5D2XnNFBvz42bGxCDZasPQh_-skw5USmhPSdyBAMV83VOrZAWEuk5Q",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCY65oLDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "exterior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh5.ggpht.com/GVG_pozPVhWt14xif2nBOWh6ShW7PSe3P6n9kDzTKS_5G__sKW39eN4icgi-SQ9u3uIrqShiVv4bUi1OjQh9ezjRNJZ6h10",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDNksELDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "interior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh3.ggpht.com/MezEro4uxwlxEtDQbaJreQoRsATK4UN7byH4z-N-Dkc6qR0Mukw_EfEsXIsRNsoEdbRf1thwYWzkyGpA7sL3zSd4DIUdaA",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDPqsgIDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "interior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh6.ggpht.com/J_nx6oVEaSAKGqjqveW5FIh-2Y9QyjNeDb4wtOyC3ZO4ZVa6DXZK3qOpdUlq_mip6PHWYfOvrVQnMFlMFNp1ZxLgaE4p8g",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgID_-8wKDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "exterior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh3.ggpht.com/rK1iegJ8nWNKYqBXmQiW2wTdcDPQXrWEqc0Uuc8X8qukOjf_d9Ja9UnvZRfDcP20_V-8ryZcz_Lo4QODeXhFtfJ26TyP6A",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDznpcJDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "interior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh3.ggpht.com/eqVRebYIIcXXFRpnF6VsVl2FxL04Htc3953bjKp2_0Rx6BIJFLLC0NWdf8K50Y_2bzLCZXGht0xYp1o6I6QOHja4-N16",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDN6YkJDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              },
              {
                "category": "exterior",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
                "title": "",
                "url": "https://lh4.ggpht.com/97KF-hWzRZrqmb9Jqyy1fAd38lyAUAFV2307XaL6qIlvgXlEeW2cU6D7vAIx-1k4yfhrN-hmZre1a2K-LckdOOhkvS_qVw",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwJWYzgsM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDu9Y4JDA",
                "id": "",
                "youtube_id": "",
                "is_video": "",
                "approved": true
              }
            ],
            "lot_size_units": "",
            "manager": "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgIDA9PrACQw",
            "clear_height": "",
            "size_units": "SF",
            "submarket": "Central Business District",
            "notification_email": "",
            "id": "",
            "size": "181381",
            "sprinkler": "",
            "title": "823 Congress",
            "building_class": "A",
            "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
            "property_owner": "",
            "leed": "",
            "type": "Office",
            "operating_expenses": "15.61",
            "parking_rate": "",
            "number_of_spaces": "",
            "address": {
              "city": "Austin",
              "state": "TX",
              "street": "823 Congress Avenue",
              "geo": {
                "latitude": "30.270586",
                "longitude": "-97.7416363"
              },
              "zipcode": "78701"
            },
            "permissions": [
              "Create",
              "Read"
            ],
            "year_built": "1974",
            "cover": {
              "category": "exterior",
              "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
              "title": "",
              "url": "https://lh6.ggpht.com/IFbCXIBvr0CNI6-8Q3muGWidCPko3eTw3GhEIxpV7YPxUJoXHlptwMz5kYKtCE6Cty6x3DX4kwPRzLX2F5hGUlPrK87N",
              "uploaded_by": "",
              "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDyxtMJDA",
              "id": "",
              "youtube_id": "",
              "is_video": "",
              "approved": true
            },
            "lot_size": "",
            "building_parking_ratio": "21.0"
          },
          "availableBuildingSquareFeet": 13950,
          "divisible": "",
          "created_at": "2014-06-18T17:02:18.302150+00:00",
          "contacts": [],
          "cover": {
            "category": "exterior",
            "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgMDV-cMLDA",
            "title": "",
            "url": "https://lh6.ggpht.com/IFbCXIBvr0CNI6-8Q3muGWidCPko3eTw3GhEIxpV7YPxUJoXHlptwMz5kYKtCE6Cty6x3DX4kwPRzLX2F5hGUlPrK87N",
            "uploaded_by": "",
            "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDyxtMJDA",
            "id": "",
            "youtube_id": "",
            "is_video": "",
            "approved": true
          },
          "office_finish_percentage": "",
          "space_type": "lease"
        }
        
## Space Collection [/api/v1/spaces{?limit,cursor}]
Use this to retrieve a list of all spaces in the RealMassive Database. 
### Notes
  * This query is not optimized for speed, it is optimized for sifting through the entire Space Collection. For speedy searches use Space Search.
  * Results are batched (default batch size is 70).
  * Rerun the query with the cursor provided in the results to receive the next batch.
  * You may adjust your limit size on the query by passing the optional limit paramter.

### List all Spaces [GET]

+ Parameters
    + limit = `70` (optional, integer) ... Number of results to return in this batch
    + cursor (optional, cursor) ... Provide the cursor to continue to your next batch of results

+ Request

        https://www.realmassive.com/api/v1/spaces?limit=3

+ Response 200 (application/json)

        {
          "cursor": "False:CpIECokCCuwBgPcO7Cuz_-rwLIyBjZqek5KejIyWiZrSj42Qm_8AdG2goJmLjKCg_wBdno-PmpGYlpGa_wBzdG2WkZuah_8AXayPnpyaoJmazseaysad0pvGyJvSy8-entLGx8ud0puZzs2bxs3MyM3Iz_8Ac3Rtm5CcoJab_wBdnpe1hZmRtZOmqIeLpqexhZ6npZOzp72Gnc2thrqYjKy9qbGIpqixk7i2vL6YtrySk6Wctru-_wBzf56XtYWZkbWTpqiHi6ansYWep6WTs6e9hp3NrYa6mIysvamxiKaosZO4try-mLa8kpOlnLa7vv8A__4QAyEE3QSQHTwbGVAAWgsJSfeXyAELktEQARINRG9jdW1lbnRJbmRleBqnAShBTkQgKElTICJjdXN0b21lcl9uYW1lIiAiYXBwZW5naW5lIikgKElTICJncm91cF9uYW1lIiAic35yZWFsbWFzc2l2ZS1wcm9kIikgKElTICJuYW1lc3BhY2UiICIiKSAoSVMgImluZGV4X25hbWUiICJTcGFjZV9mZTE4ZTU5Yi1kOTdkLTQwYWEtOTg0Yi1kZjEyZDkyMzcyNzAiKSAoVFJVRSkpOhkKDChOIG9yZGVyX2lkKRABGQAAAAAAAPD_SjAIAToVc3Q6YnRpX2dlbmVyaWNfc2NvcmVyQJBOShILEICihQUaCQoHZXNjb3Jlcgw",
          "results": [
            {
              "edited_at": "2014-12-19T20:02:26.243170+00:00",
              "attachments": [
                {
                  "category": "floor_plan",
                  "gs_path": "",
                  "raw_url": "https://lh6.ggpht.com/C6Ma7rJVIKMNEk9KHj-3s6oScSqRB42FtvXZzGX9MPdyCVZPWrRVoCQQAEwy2XFqY89GROdPk0XTTTF5IWanVUKapKmPSQ",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmi8ELDA",
                  "title": "",
                  "url": "https://lh6.ggpht.com/C6Ma7rJVIKMNEk9KHj-3s6oScSqRB42FtvXZzGX9MPdyCVZPWrRVoCQQAEwy2XFqY89GROdPk0XTTTF5IWanVUKapKmPSQ",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCLzZQKDA",
                  "preview_info": null,
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                }
              ],
              "short_url": "http://real.ma/1jqnJms",
              "contiguous": false,
              "rate": "0.5",
              "notification_email": "",
              "id": "6478710668525568",
              "location_url": "/us/tx/austin/flex-space/northtech-business-center-6/600/6478710668525568",
              "lease_term": "",
              "portfolio_space_keys": [],
              "is_promoted": false,
              "title": "NorthTech Business Center 6, Suite 600",
              "rate_type": "triple_net",
              "editors": [],
              "created_by": null,
              "space_available_units": "",
              "ti": "",
              "space_available": "111300",
              "unit_number": "600",
              "analysts": [],
              "status": "Public",
              "edited_by": {
                "first_name": "Angela",
                "last_name": "Franz",
                "title": "Customer Experience Manager",
                "photo": "https://media.licdn.com/mpr/mprx/0_iaXmsDPEUTksuzZCLSI8Ju0oOlU9SnNCXssiy22krLVzdB62QO5CO6CjM6s",
                "company": "RealMassive",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                "is_premium": true,
                "id": ""
              },
              "description": "• 10% office • 90% warehouse • Expandable to 111,300 sf • Rear loading • Dock high • Internet Provider: Grande Communications Networks, LLC.",
              "rate_frequency": "",
              "rate_units": "",
              "availability_date": "",
              "floor_number": "",
              "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmi8ELDA",
              "building": {
                "ac": "",
                "reserved": "",
                "attachments": [
                  {
                    "category": "exterior",
                    "gs_path": "",
                    "raw_url": "https://lh6.ggpht.com/iak7Hv0P8s4UI9VOEAg6QNWAbYcsKDcSRlJSELx7edU6F-FX9KrStNKWeOeite8cZ90eGVMIeeH0S5xaKEEHNkfCAjK_Mg",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh6.ggpht.com/iak7Hv0P8s4UI9VOEAg6QNWAbYcsKDcSRlJSELx7edU6F-FX9KrStNKWeOeite8cZ90eGVMIeeH0S5xaKEEHNkfCAjK_Mg",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCsh5wLDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "",
                    "raw_url": "https://lh4.ggpht.com/-YIoLhcQOUEng9Xp4xqb6GubLv56kj6NUT3ysqthDMDe75REyQBLnvv7XvBsLwMdtqIObyefyMha-KNRCffX_f5QMOKW",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh4.ggpht.com/-YIoLhcQOUEng9Xp4xqb6GubLv56kj6NUT3ysqthDMDe75REyQBLnvv7XvBsLwMdtqIObyefyMha-KNRCffX_f5QMOKW",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDJnYoJDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "",
                    "raw_url": "https://lh6.ggpht.com/7mvIwEiBj1fWyS72f4tX4Fyu20KufjodWWNExHWrLmjzL3X6ImzCeVJb215SEEMvZ32CsBsEPwKnfWhUheqr41UgFaH-IKY",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh6.ggpht.com/7mvIwEiBj1fWyS72f4tX4Fyu20KufjodWWNExHWrLmjzL3X6ImzCeVJb215SEEMvZ32CsBsEPwKnfWhUheqr41UgFaH-IKY",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCNy5cLDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "",
                    "raw_url": "https://lh3.ggpht.com/ZEaihDtnGa5fpSrJTX_nhxfo7k7QPjCj76VMxhWiVz0ppLJcYWCQBifV0nCZzUMqa_7GQY74eTy9gXh_v7e0T7GGBXP-",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh3.ggpht.com/ZEaihDtnGa5fpSrJTX_nhxfo7k7QPjCj76VMxhWiVz0ppLJcYWCQBifV0nCZzUMqa_7GQY74eTy9gXh_v7e0T7GGBXP-",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCYkdIIDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "",
                    "raw_url": "https://lh3.ggpht.com/yM0lIHor1HKi9QtwMBKjDTuu1i1caVxBCZ6exw5PxyO0-0VMTESohhKeOrQ7h4VsJ84xln4fugmy6CJXOrjSKtSO-Lt2wQ",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh3.ggpht.com/yM0lIHor1HKi9QtwMBKjDTuu1i1caVxBCZ6exw5PxyO0-0VMTESohhKeOrQ7h4VsJ84xln4fugmy6CJXOrjSKtSO-Lt2wQ",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDqrIgJDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "/gs/realmassive-production-images/us-tx-austin-northtech-business-center-6-6501199654158336-1419019291.JPG",
                    "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-northtech-business-center-6-6501199654158336-1419019291.JPG",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh5.ggpht.com/_6stakUJiZNINzCN4cQANfw9V6tphO_5l9A34jQPuffxSf81LRsDZ2XqLrx514d4BFaMweMNd6KjmmeXLDmSRzUGR7M86g",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMSZr5cKDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "/gs/realmassive-production-images/us-tx-austin-northtech-business-center-6-6501199654158336-1419019309.JPG",
                    "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-northtech-business-center-6-6501199654158336-1419019309.JPG",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh4.ggpht.com/kQAipwatyzlmLyAnC2VhhdIEeRNLJDajlMn23WKjPON0A0OCOk-nmZN_2D6-AunigPXUjwTyB_Uk3SOh1Dyv4kszOsYzsg",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgKS80ogLDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  }
                ],
                "lot_size_units": "",
                "manager": "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgICAptqDCAw",
                "clear_height": "24",
                "size_units": "SF",
                "submarket": "North",
                "notification_email": "",
                "id": "",
                "market": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEwsSBk1hcmtldBiAgICQgoSOCww",
                "size": "111300",
                "sprinkler": "ESFR",
                "title": "NorthTech Business Center 6",
                "building_class": "A",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                "property_owner": "",
                "leed": "",
                "type": "Flex Space",
                "operating_expenses": "0.18",
                "parking_rate": "",
                "number_of_spaces": "3",
                "address": {
                  "city": "Austin",
                  "state": "TX",
                  "street": "4616 West Howard Lane",
                  "geo": {
                    "latitude": "30.4446317",
                    "longitude": "-97.7076387"
                  },
                  "zipcode": "78728"
                },
                "year_built": "2000",
                "cover": {
                  "category": "exterior",
                  "gs_path": "",
                  "raw_url": "https://lh6.ggpht.com/iak7Hv0P8s4UI9VOEAg6QNWAbYcsKDcSRlJSELx7edU6F-FX9KrStNKWeOeite8cZ90eGVMIeeH0S5xaKEEHNkfCAjK_Mg",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                  "title": "",
                  "url": "https://lh6.ggpht.com/iak7Hv0P8s4UI9VOEAg6QNWAbYcsKDcSRlJSELx7edU6F-FX9KrStNKWeOeite8cZ90eGVMIeeH0S5xaKEEHNkfCAjK_Mg",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCsh5wLDA",
                  "preview_info": null,
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                "lot_size": "",
                "building_parking_ratio": ""
              },
              "divisible": true,
              "expiration_date": "",
              "created_at": "",
              "contacts": [
                {
                  "first_name": "Davis",
                  "last_name": "Bass",
                  "title": "",
                  "photo": "http://m.c.lnkd.licdn.com/mpr/mprx/0_io443YmeIJbqEecciSJw3pyXIYAcoDnc3I2b3j0zqUL6zWTB72Hq7gwRLrldWoBRGdV6asTv0Cc1",
                  "company": "",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAoMC4lAsM",
                  "is_premium": false,
                  "id": ""
                },
                {
                  "first_name": "Jordan",
                  "last_name": "Walker",
                  "title": "Industrial Division",
                  "photo": "/static/img/default_profile.jpg",
                  "company": "HPI",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgM-51goM",
                  "is_premium": false,
                  "id": ""
                },
                {
                  "first_name": "Andy",
                  "last_name": "Thomas",
                  "title": "",
                  "photo": "/static/img/default_profile.jpg",
                  "company": "",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAoMDWnAsM",
                  "is_premium": false,
                  "id": ""
                }
              ],
              "cover": {
                "category": "exterior",
                "gs_path": "",
                "raw_url": "https://lh6.ggpht.com/iak7Hv0P8s4UI9VOEAg6QNWAbYcsKDcSRlJSELx7edU6F-FX9KrStNKWeOeite8cZ90eGVMIeeH0S5xaKEEHNkfCAjK_Mg",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                "title": "",
                "url": "https://lh6.ggpht.com/iak7Hv0P8s4UI9VOEAg6QNWAbYcsKDcSRlJSELx7edU6F-FX9KrStNKWeOeite8cZ90eGVMIeeH0S5xaKEEHNkfCAjK_Mg",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCsh5wLDA",
                "preview_info": null,
                "youtube_id": "",
                "id": "",
                "is_video": "",
                "approved": true
              },
              "search_rate": "0.5",
              "office_finish_percentage": "10",
              "min_divisible": "",
              "space_type": ""
            },
            {
              "edited_at": "2014-12-19T20:02:25.919090+00:00",
              "attachments": [
                {
                  "category": "floor_plan",
                  "gs_path": "",
                  "raw_url": "https://lh5.ggpht.com/gPjE0dgipoTkC1igMDqt9CLQAxKeZhSJi337VIGRb0Uv5_5QmkAF5e5T730jWzJpJDn-Si_I2a8086XsUlgsFmg4mPibJA",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgIDG54IKDA",
                  "title": "",
                  "url": "https://lh5.ggpht.com/gPjE0dgipoTkC1igMDqt9CLQAxKeZhSJi337VIGRb0Uv5_5QmkAF5e5T730jWzJpJDn-Si_I2a8086XsUlgsFmg4mPibJA",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMC4n9MKDA",
                  "preview_info": null,
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                }
              ],
              "short_url": "http://real.ma/1kQxMUL",
              "contiguous": false,
              "rate": "0.5",
              "notification_email": "",
              "id": "5641853470769152",
              "location_url": "/us/tx/austin/flex-space/northtech-business-center-6/650/5641853470769152",
              "lease_term": "",
              "portfolio_space_keys": [],
              "is_promoted": false,
              "title": "NorthTech Business Center 6, Suite 650",
              "rate_type": "triple_net",
              "editors": [],
              "created_by": null,
              "space_available_units": "",
              "ti": "",
              "space_available": "38000",
              "unit_number": "650",
              "analysts": [],
              "status": "Public",
              "edited_by": {
                "first_name": "Angela",
                "last_name": "Franz",
                "title": "Customer Experience Manager",
                "photo": "https://media.licdn.com/mpr/mprx/0_iaXmsDPEUTksuzZCLSI8Ju0oOlU9SnNCXssiy22krLVzdB62QO5CO6CjM6s",
                "company": "RealMassive",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                "is_premium": true,
                "id": ""
              },
              "description": "• 10% office • 90% warehouse • Expandable to 111,300 sf • Rear loading • Dock high • Internet Provider: Grande Communications Networks, LLC.",
              "rate_frequency": "",
              "rate_units": "",
              "availability_date": "",
              "floor_number": "",
              "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgIDG54IKDA",
              "building": {
                "ac": "",
                "reserved": "",
                "attachments": [
                  {
                    "category": "exterior",
                    "gs_path": "",
                    "raw_url": "https://lh6.ggpht.com/iak7Hv0P8s4UI9VOEAg6QNWAbYcsKDcSRlJSELx7edU6F-FX9KrStNKWeOeite8cZ90eGVMIeeH0S5xaKEEHNkfCAjK_Mg",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh6.ggpht.com/iak7Hv0P8s4UI9VOEAg6QNWAbYcsKDcSRlJSELx7edU6F-FX9KrStNKWeOeite8cZ90eGVMIeeH0S5xaKEEHNkfCAjK_Mg",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCsh5wLDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "",
                    "raw_url": "https://lh4.ggpht.com/-YIoLhcQOUEng9Xp4xqb6GubLv56kj6NUT3ysqthDMDe75REyQBLnvv7XvBsLwMdtqIObyefyMha-KNRCffX_f5QMOKW",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh4.ggpht.com/-YIoLhcQOUEng9Xp4xqb6GubLv56kj6NUT3ysqthDMDe75REyQBLnvv7XvBsLwMdtqIObyefyMha-KNRCffX_f5QMOKW",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDJnYoJDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "",
                    "raw_url": "https://lh6.ggpht.com/7mvIwEiBj1fWyS72f4tX4Fyu20KufjodWWNExHWrLmjzL3X6ImzCeVJb215SEEMvZ32CsBsEPwKnfWhUheqr41UgFaH-IKY",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh6.ggpht.com/7mvIwEiBj1fWyS72f4tX4Fyu20KufjodWWNExHWrLmjzL3X6ImzCeVJb215SEEMvZ32CsBsEPwKnfWhUheqr41UgFaH-IKY",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCNy5cLDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "",
                    "raw_url": "https://lh3.ggpht.com/ZEaihDtnGa5fpSrJTX_nhxfo7k7QPjCj76VMxhWiVz0ppLJcYWCQBifV0nCZzUMqa_7GQY74eTy9gXh_v7e0T7GGBXP-",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh3.ggpht.com/ZEaihDtnGa5fpSrJTX_nhxfo7k7QPjCj76VMxhWiVz0ppLJcYWCQBifV0nCZzUMqa_7GQY74eTy9gXh_v7e0T7GGBXP-",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCYkdIIDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "",
                    "raw_url": "https://lh3.ggpht.com/yM0lIHor1HKi9QtwMBKjDTuu1i1caVxBCZ6exw5PxyO0-0VMTESohhKeOrQ7h4VsJ84xln4fugmy6CJXOrjSKtSO-Lt2wQ",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh3.ggpht.com/yM0lIHor1HKi9QtwMBKjDTuu1i1caVxBCZ6exw5PxyO0-0VMTESohhKeOrQ7h4VsJ84xln4fugmy6CJXOrjSKtSO-Lt2wQ",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDqrIgJDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "/gs/realmassive-production-images/us-tx-austin-northtech-business-center-6-6501199654158336-1419019291.JPG",
                    "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-northtech-business-center-6-6501199654158336-1419019291.JPG",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh5.ggpht.com/_6stakUJiZNINzCN4cQANfw9V6tphO_5l9A34jQPuffxSf81LRsDZ2XqLrx514d4BFaMweMNd6KjmmeXLDmSRzUGR7M86g",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMSZr5cKDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "/gs/realmassive-production-images/us-tx-austin-northtech-business-center-6-6501199654158336-1419019309.JPG",
                    "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-northtech-business-center-6-6501199654158336-1419019309.JPG",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh4.ggpht.com/kQAipwatyzlmLyAnC2VhhdIEeRNLJDajlMn23WKjPON0A0OCOk-nmZN_2D6-AunigPXUjwTyB_Uk3SOh1Dyv4kszOsYzsg",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgKS80ogLDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  }
                ],
                "lot_size_units": "",
                "manager": "ahJzfnJlYWxtYXNzaXZlLXByb2RyGQsSDE9yZ2FuaXphdGlvbhiAgICAptqDCAw",
                "clear_height": "24",
                "size_units": "SF",
                "submarket": "North",
                "notification_email": "",
                "id": "",
                "market": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEwsSBk1hcmtldBiAgICQgoSOCww",
                "size": "111300",
                "sprinkler": "ESFR",
                "title": "NorthTech Business Center 6",
                "building_class": "A",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                "property_owner": "",
                "leed": "",
                "type": "Flex Space",
                "operating_expenses": "0.18",
                "parking_rate": "",
                "number_of_spaces": "3",
                "address": {
                  "city": "Austin",
                  "state": "TX",
                  "street": "4616 West Howard Lane",
                  "geo": {
                    "latitude": "30.4446317",
                    "longitude": "-97.7076387"
                  },
                  "zipcode": "78728"
                },
                "year_built": "2000",
                "cover": {
                  "category": "exterior",
                  "gs_path": "",
                  "raw_url": "https://lh6.ggpht.com/iak7Hv0P8s4UI9VOEAg6QNWAbYcsKDcSRlJSELx7edU6F-FX9KrStNKWeOeite8cZ90eGVMIeeH0S5xaKEEHNkfCAjK_Mg",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                  "title": "",
                  "url": "https://lh6.ggpht.com/iak7Hv0P8s4UI9VOEAg6QNWAbYcsKDcSRlJSELx7edU6F-FX9KrStNKWeOeite8cZ90eGVMIeeH0S5xaKEEHNkfCAjK_Mg",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCsh5wLDA",
                  "preview_info": null,
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                "lot_size": "",
                "building_parking_ratio": ""
              },
              "divisible": false,
              "expiration_date": "",
              "created_at": "",
              "contacts": [
                {
                  "first_name": "Davis",
                  "last_name": "Bass",
                  "title": "",
                  "photo": "http://m.c.lnkd.licdn.com/mpr/mprx/0_io443YmeIJbqEecciSJw3pyXIYAcoDnc3I2b3j0zqUL6zWTB72Hq7gwRLrldWoBRGdV6asTv0Cc1",
                  "company": "",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAoMC4lAsM",
                  "is_premium": false,
                  "id": ""
                },
                {
                  "first_name": "Jordan",
                  "last_name": "Walker",
                  "title": "Industrial Division",
                  "photo": "/static/img/default_profile.jpg",
                  "company": "HPI",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgM-51goM",
                  "is_premium": false,
                  "id": ""
                },
                {
                  "first_name": "Andy",
                  "last_name": "Thomas",
                  "title": "",
                  "photo": "/static/img/default_profile.jpg",
                  "company": "",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAoMDWnAsM",
                  "is_premium": false,
                  "id": ""
                }
              ],
              "cover": {
                "category": "exterior",
                "gs_path": "",
                "raw_url": "https://lh6.ggpht.com/iak7Hv0P8s4UI9VOEAg6QNWAbYcsKDcSRlJSELx7edU6F-FX9KrStNKWeOeite8cZ90eGVMIeeH0S5xaKEEHNkfCAjK_Mg",
                "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                "title": "",
                "url": "https://lh6.ggpht.com/iak7Hv0P8s4UI9VOEAg6QNWAbYcsKDcSRlJSELx7edU6F-FX9KrStNKWeOeite8cZ90eGVMIeeH0S5xaKEEHNkfCAjK_Mg",
                "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCsh5wLDA",
                "preview_info": null,
                "youtube_id": "",
                "id": "",
                "is_video": "",
                "approved": true
              },
              "search_rate": "0.5",
              "office_finish_percentage": "10",
              "min_divisible": "",
              "space_type": ""
            },
            {
              "edited_at": "2014-12-19T20:02:25.147880+00:00",
              "attachments": [
                {
                  "category": "floor_plan",
                  "gs_path": "",
                  "raw_url": "https://lh6.ggpht.com/KvJkcHuZin-v5fCv9t5-lm9AwD1-X7ljzvz7-erHlwlGBpIfpTPPj1s1ONDaQUECuhxAxh9P0r4I4fC9NAcpmmzivrOrzQ",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh6.ggpht.com/KvJkcHuZin-v5fCv9t5-lm9AwD1-X7ljzvz7-erHlwlGBpIfpTPPj1s1ONDaQUECuhxAxh9P0r4I4fC9NAcpmmzivrOrzQ",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCt75oJDA",
                  "preview_info": null,
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "interior",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019049.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019049.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh5.ggpht.com/Bb2VnRELR241VZRA5h3HaAKXm_10VEkmdvqXJ2iV3xFuDhbXkY3KLjprCmyTIIrQYit5NyhZsGsh_6Gr1O1YBra6wVDX6g",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMT6wYYJDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "interior",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019053.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019053.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh6.ggpht.com/R5lq3In0zkaQCel6O7DZB6EGfzxdM3pwleTH-fo832_6cSCWmMLZcQAGM14n6DgUz4aD5xuwUXoyNC3ieSGeDx1I3vav6Q",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgKSq5ZgKDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "interior",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019056.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019056.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh6.ggpht.com/jmdFnXCrUWYmNh2cGSeW5_BjTbNW5yAmEQYDbkIAQpcttFcLA6EDI1My9IlwEpequaTu-WrON2Z0METzW4S9FUZa1zt0Mw",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgKT49J4KDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "interior",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019059.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019059.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh4.ggpht.com/ZT7ev_q_P1YExoGRxSofWqR6iDTRkmf6Ff93jn-b_gjSl9RHyWRRti3__P90z_ZnzORsXVQkXKna0dV9UQsFEynYzVJh",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgKSgupsKDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "interior",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019062.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019062.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh3.ggpht.com/h7iMK0PFtGsoRMJYIFMF0Y88HfhvV_jhIy3gSp-Rc5h5JIcwOox5lNSzwOrUkK0dqHQWheCXt31H5v4I8kdAU7tY8KELrA",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMTNio8KDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019064.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019064.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh4.ggpht.com/JA37Z85bztrTraJPUkDFE_ve2KSYANtkY_Nrl5-sDUqLsdZIfMIkAbpnSuxvIWQ2pDXkCIghMFJx6vZ5Mhv-6up9l9tZdbk",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgKSgoYYKDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "interior",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019068.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019068.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh4.ggpht.com/DLMzztKOhmYnnWrAdUbCz1gHv6_84xVcJlSJIuhlvzgARJpedYNlBiEaHf3VooN9Lc6xNCMNcyac8ldBxRAuN6DvCIKgtQ",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgITXq4kLDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019071.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019071.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh4.ggpht.com/ZVtbL_TOx6JIvKQ0eljdUw55LK5z8HL_l8h5penuC1vvfuRP8DJuk7cjZv-Za6IVJMAo7O5AWdNMegYW7cNya5GKmC1E",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgKSg1ZcKDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019074.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019074.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh5.ggpht.com/G5munD89LEeFw1MtSGxQ2qBA1kQZQxgeM9oSItYtOn_tf39VOeQVGjNR-TU1kGLG2UYpbRhlQGrDp_vfT4GjZabcc6LAww",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgKSgy44KDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "interior",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019086.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019086.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh6.ggpht.com/VOETNTAIzxCnLlgJT4QQjfR285jKObEprjUbI9vi5sllOqh7zKhR1zzLmiIML0QpZsQUTUTWvID-fRkrMZzC8nbgCDyxMg",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMT6wYYLDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "interior",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019094.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019094.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh6.ggpht.com/fn17CemFw__Gd30N23am3brVw1oRuCvY24-BPy3ei2AsgTR812QA_jvD9hp6jutnoiKOZkWx0DWEM8y05qQPqx0qzM6HoA",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgITT89MIDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "interior",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019098.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019098.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh6.ggpht.com/r72Xg_RjWp7sRnnPxN5XW5_EMcNgNYLgjo1Ls23_vd_GVzJ4HUmv6aXLhubySwjrRmbUBE87uoD6qrJQ_gZ0xf8PJ8N-0Q",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgKTctY8JDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "interior",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019100.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019100.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh6.ggpht.com/PCkpxj6XCs3ddWS-iCDyBjUzAMAZQ9XDWTqFjF4sSU1XrqF03NAGpJErHkiK5MbP6dEm_RSZ5rrik7yM_8NrJ_1PXTKkavQ",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMT6sJMJDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "interior",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019104.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019104.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh6.ggpht.com/uukgyo06-TVsGs01Z5BN1UHdj2SeN6sL8TrHwWQ0Or_nKTnn7Qlo7uTst5o5DN_J2ojxwc2Niq1zMBoeFa0JvDwGgsb-",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMSZ84YJDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "interior",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019107.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019107.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh4.ggpht.com/AIl8kXdmCt2nKAunD6_Aj3cUZWCQd14-jNgUTrW72T0V-Ljp8_DUO-v8HoEyJgZe8mRjokhUij5NPQBqmGb3rSTWqB_HCA",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMS04NULDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "interior",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019176.JPG",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019176.JPG",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://lh5.ggpht.com/1iRR0SeDrCKLlmWqJ08iTF5Yb-LFlEDbLeIh9QkJruFsjWON_Ro2s2AFRIrXQ7r2V7gMoNd-VKElp2pGhtoV6CZlrH7ntw",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgITT89MKDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "",
                  "id": "",
                  "is_video": "",
                  "approved": true
                },
                {
                  "category": "map",
                  "gs_path": "/gs/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019184.mp4",
                  "raw_url": "https://storage.googleapis.com/realmassive-production-images/us-tx-austin-flex-space-northtech-business-center-6-600-4605486452178944-1419019184.mp4",
                  "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
                  "title": "",
                  "url": "https://i.ytimg.com/vi/9ZlMwpvS8aI/hqdefault.jpg",
                  "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                  "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMT89JEJDA",
                  "preview_info": {
                    "url": "",
                    "blobkey": "",
                    "raw_url": "",
                    "gs_path": ""
                  },
                  "youtube_id": "9ZlMwpvS8aI",
                  "id": "",
                  "is_video": true,
                  "approved": true
                }
              ],
              "short_url": "http://real.ma/1fQTKUz",
              "contiguous": false,
              "rate": "0.5",
              "notification_email": "",
              "id": "4605486452178944",
              "location_url": "/us/tx/austin/flex-space/northtech-business-center-6/600/4605486452178944",
              "lease_term": "",
              "portfolio_space_keys": [],
              "is_promoted": false,
              "title": "NorthTech Business Center 6, Suite 600",
              "rate_type": "triple_net",
              "editors": [],
              "created_by": null,
              "space_available_units": "",
              "ti": "",
              "space_available": "75000",
              "unit_number": "600",
              "analysts": [],
              "status": "Public",
              "edited_by": {
                "first_name": "Angela",
                "last_name": "Franz",
                "title": "Customer Experience Manager",
                "photo": "https://media.licdn.com/mpr/mprx/0_iaXmsDPEUTksuzZCLSI8Ju0oOlU9SnNCXssiy22krLVzdB62QO5CO6CjM6s",
                "company": "RealMassive",
                "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAgPypnwkM",
                "is_premium": true,
                "id": ""
              },
              "description": "• 10% office • 90% warehouse • Expandable to 111,300 sf • Rear loading • Dock high • Internet Provider: Grande Communications Networks, LLC.",
              "rate_frequency": "",
              "rate_units": "",
              "availability_date": "",
              "floor_number": "",
              "key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBVNwYWNlGICAgICmlZcIDA",
              "building": {
                "ac": "",
                "reserved": "",
                "attachments": [
                  {
                    "category": "exterior",
                    "gs_path": "",
                    "raw_url": "https://lh6.ggpht.com/iak7Hv0P8s4UI9VOEAg6QNWAbYcsKDcSRlJSELx7edU6F-FX9KrStNKWeOeite8cZ90eGVMIeeH0S5xaKEEHNkfCAjK_Mg",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh6.ggpht.com/iak7Hv0P8s4UI9VOEAg6QNWAbYcsKDcSRlJSELx7edU6F-FX9KrStNKWeOeite8cZ90eGVMIeeH0S5xaKEEHNkfCAjK_Mg",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCsh5wLDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "",
                    "raw_url": "https://lh4.ggpht.com/-YIoLhcQOUEng9Xp4xqb6GubLv56kj6NUT3ysqthDMDe75REyQBLnvv7XvBsLwMdtqIObyefyMha-KNRCffX_f5QMOKW",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh4.ggpht.com/-YIoLhcQOUEng9Xp4xqb6GubLv56kj6NUT3ysqthDMDe75REyQBLnvv7XvBsLwMdtqIObyefyMha-KNRCffX_f5QMOKW",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDJnYoJDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "",
                    "raw_url": "https://lh6.ggpht.com/7mvIwEiBj1fWyS72f4tX4Fyu20KufjodWWNExHWrLmjzL3X6ImzCeVJb215SEEMvZ32CsBsEPwKnfWhUheqr41UgFaH-IKY",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh6.ggpht.com/7mvIwEiBj1fWyS72f4tX4Fyu20KufjodWWNExHWrLmjzL3X6ImzCeVJb215SEEMvZ32CsBsEPwKnfWhUheqr41UgFaH-IKY",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCNy5cLDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "",
                    "raw_url": "https://lh3.ggpht.com/ZEaihDtnGa5fpSrJTX_nhxfo7k7QPjCj76VMxhWiVz0ppLJcYWCQBifV0nCZzUMqa_7GQY74eTy9gXh_v7e0T7GGBXP-",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh3.ggpht.com/ZEaihDtnGa5fpSrJTX_nhxfo7k7QPjCj76VMxhWiVz0ppLJcYWCQBifV0nCZzUMqa_7GQY74eTy9gXh_v7e0T7GGBXP-",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMCYkdIIDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
                    "gs_path": "",
                    "raw_url": "https://lh3.ggpht.com/yM0lIHor1HKi9QtwMBKjDTuu1i1caVxBCZ6exw5PxyO0-0VMTESohhKeOrQ7h4VsJ84xln4fugmy6CJXOrjSKtSO-Lt2wQ",
                    "target": "ahJzfnJlYWxtYXNzaXZlLXByb2RyFQsSCEJ1aWxkaW5nGICAgIDomcYLDA",
                    "title": "",
                    "url": "https://lh3.ggpht.com/yM0lIHor1HKi9QtwMBKjDTuu1i1caVxBCZ6exw5PxyO0-0VMTESohhKeOrQ7h4VsJ84xln4fugmy6CJXOrjSKtSO-Lt2wQ",
                    "uploaded_by": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEQsSBFVzZXIYgICAwLPxnQoM",
                    "master_key": "ahJzfnJlYWxtYXNzaXZlLXByb2RyEgsSBU1lZGlhGICAgMDqrIgJDA",
                    "preview_info": null,
                    "youtube_id": "",
                    "id": "",
                    "is_video": "",
                    "approved": true
                  },
                  {
                    "category": "exterior",
[...]
